img.smart {
    height: 75px;
    width: 100px;
    margin-right: 18px;
    margin-bottom: 12px;
    padding: 1px;
    border: 1px solid #021a40;
}

p.result {
    font-size: 0.8em;
    color: #777;
}

/* Toolbar area */
.menu {
    background-color: transparent;
    border: none;
    height: 38px;
    margin: 16px;
    width: 36px;
}

.menu-item {
    background: none;
    border-width: 0;
    cursor: pointer;
    display: block;
    color: #333;
    font-size: inherit;
    line-height: 40px;
    max-height: 40px;
    opacity: 1;
    margin: 0;
    outline: none;
    padding: 0 28px;
    position: relative;
    text-align: left;
    text-decoration: none;
    width: 100%;
    z-index: 1;
    -webkit-transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-transition-property: max-height, background-color, opacity;
    -moz-transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
    -moz-transition-property: max-height, background-color, opacity;
    transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
    transition-property: max-height, background-color, opacity;
}

.menu-item.ng-hide {
    max-height: 0;
    opacity: 0;
}

.menu-item:hover {
    color: #999;
}

.menu-item:focus {
    font-weight: bold;
}

.menu-item.menu-title {
    color: #888;
    font-size: 14px;
    padding-left: 16px;
    text-align: left;
    text-transform: uppercase;
    transition: color 0.35s cubic-bezier(0.35, 0, 0.25, 1);
}

.menu-item.menu-title:hover,
.menu-item.menu-title.active {
    color: #1976d2;
}

.menu-icon {
    background: none;
    border: none;
    margin-right: 16px;
}

md-toolbar h1 {
    margin: auto;
}

/* Sidenav area */

md-list .md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
}

md-list .md-button.selected {
    color: #03a9f4;
}

md-sidenav md-list {
    padding: 0 0 8px 0;
}

/* Primary content area */
#content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
}

/* Utils */

.avatar {
    position: relative;
    width: 128px;
    height: 128px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    vertical-align: middle;
    zoom: 0.70;
    transform: translateZ(0);
    -webkit-transform: scale(0.70);
    -moz-transform: scale(0.70);
}

.face {
    border-radius: 30px;
    border: 1px solid #ddd;
    width: 48px;
    margin: 16px;
}

.largeFace {
    border-radius: 30px;
    border: 1px solid #ddd;
    width: 96px;
    margin: 16px;
}

.smart-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

