<div ng-controller="address as vm">
    <md-content class="md-padding">
        <ng-form name="addressEditForm" ng-model="vm.address">
            <md-autocomplete
                    id="addressSearch"
                    md-no-cache="false"
                    md-selected-item="vm.address"
                    md-search-text="vm.searchText"
                    md-items="address in vm.getLocation(vm.searchText)"
                    md-delay="300"
                    md-min-length="3"
                    md-item-text="address.formatted_address"
                    md-floating-label="Address Search">
                <span md-highlight-text="vm.searchText">{{address.formatted_address}}</span>
            </md-autocomplete>

            <md-radio-group ng-model="vm.address.use" layout-gt-md="row" ng-if="vm.mode==='multi'">
                <md-radio-button value="work" aria-label="work" selected>Work</md-radio-button>
                <md-radio-button value="home">Home</md-radio-button>
                <md-radio-button value="temp" aria-label=temp">Temp</md-radio-button>
                <md-radio-button value="old" aria-label="old">Former</md-radio-button>
            </md-radio-group>

            <div ng-if="vm.address.use === 'old'">
                <h4 class="md-subhead">Period of former address</h4>

                <div layout="row" layout-sm="column" layout-align="space-around center">
                    <md-input-container>
                        <label>Start</label>
                        <input
                                type="date"
                                ng-model="vm.address.period.start">
                    </md-input-container>
                    <md-input-container>
                        <label>End</label>
                        <input
                                type="date"
                                ng-model="vm.address.period.end">
                    </md-input-container>
                </div>
            </div>

            <div ng-if="vm.mode==='multi'" class="md-padding">
                <md-button ng-click="vm.addToList(addressEditForm, vm.address)"
                           aria-label="Save to list">
                    <md-icon md-svg-icon="listAdd" alt="Save to list"></md-icon>
                </md-button>
            </div>

            <div>
                <div ng-if="vm.addresses.length > 0 && vm.mode==='multi'">
                    <md-subheader>Address List</md-subheader>
                    <md-list>
                        <md-list-item class="md-2-line" ng-click="vm.removeListItem(addr)"
                                      ng-repeat="addr in vm.addresses">
                            <md-icon md-svg-icon="delete"></md-icon>
                            <div class="md-list-item-text">
                                <h4>{{addr.address | singleLineAddress}}</h4>
                                <p>{{addr.county}}</p>
                            </div>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
        </ng-form>
    </md-content>
</div>
