<div data-ng-controller="conformanceDetail as vm" layout-wrap layout="row">
    <div flex="90">
        <h3 class="md-title">{{vm.title}}</h3>
    </div>
    <div flex="10">
        <md-button class="md-icon-button launch" ng-click="vm.actions($event)" aria-label="Actions">
            <md-icon md-svg-icon="actions"></md-icon>
        </md-button>
    </div>
    <div flex="100" ng-if="vm.isBusy === true" layout="row" layout-align="center end" style="height: 300px">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div flex="100" layout-align="space-between center">
        <md-tabs md-selected="selectedIndex" md-dynamic-height>
            <md-tab label="Main">
                <div flex="100" layout="row" layout layout-sm="column" layout-align="space-between start"
                     ng-if="vm.conformance"
                     layout-wrap style="position: relative; top:15px" layout-padding>
                    <md-input-container flex="100" class="md-icon-float" ng-if="vm.conformance.resourceId">
                        <label>Metadata Endpoint</label>
                        <md-icon md-svg-icon="view" ng-click="vm.showSource($event)"></md-icon>
                        <input ng-model="vm.conformance.resourceId" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="45" ng-if="vm.conformance.name">
                        <label>Name</label>
                        <input ng-model="vm.conformance.name" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="45" ng-if="vm.conformance.url">
                        <label>Url</label>
                        <input ng-model="vm.conformance.url" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="45" ng-if="vm.conformance.description">
                        <label>Description</label>
                        <input ng-model="vm.conformance.description" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="45" ng-if="vm.conformance.requirements">
                        <label>Requirements</label>
                        <input ng-model="vm.conformance.requirements" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="45" ng-if="vm.conformance.publisher">
                        <label>Publisher</label>
                        <input ng-model="vm.conformance.publisher" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="25" ng-if="vm.conformance.version">
                        <label>Version</label>
                        <input ng-model="vm.conformance.version" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="25" ng-if="vm.conformance.fhirVersion">
                        <label>FHIR Version</label>
                        <input ng-model="vm.conformance.fhirVersion" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="25" ng-if="vm.conformance.copyright">
                        <label>Copyright</label>
                        <input ng-model="vm.conformance.copyright" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="25" ng-if="vm.conformance.status">
                        <label>Status</label>
                        <input ng-model="vm.conformance.status" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="25" ng-if="vm.conformance.date">
                        <label>Date</label>
                        <input ng-model="vm.conformance.date" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="25" ng-if="vm.conformance.experimental">
                        <label>Experimental</label>
                        <input ng-model="vm.conformance.experimental" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="25" ng-if="vm.conformance.acceptUnknown">
                        <label>Accept Unknown</label>
                        <input ng-model="vm.conformance.acceptUnknown" ng-readonly="true"/>
                    </md-input-container>

                    <md-list flex="30" ng-if="vm.conformance.format" layout-fill>
                        <md-subheader>Formats</md-subheader>
                        <md-list-item ng-repeat="f in vm.conformance.format">
                            <p>{{f}}</p>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>

                    <md-whiteframe class="md-whiteframe-z1" ng-if="vm.conformance.software" layout="column"
                                   layout-align="space-around start" layout-padding flex="45">
                        <md-subheader>Software</md-subheader>
                        <md-input-container layout-fill ng-if="vm.conformance.software.name">
                            <label>Name</label>
                            <input ng-model="vm.conformance.software.name" ng-readonly="true"/>
                        </md-input-container>
                        <md-input-container layout-fill ng-if="vm.conformance.software.version">
                            <label>Verssion</label>
                            <input ng-model="vm.conformance.software.version" ng-readonly="true"/>
                        </md-input-container>
                        <md-input-container layout-fill ng-if="vm.conformance.software.releaseDate">
                            <label>Release Date</label>
                            <input ng-model="vm.conformance.software.releaseDate" ng-readonly="true"/>
                        </md-input-container>
                    </md-whiteframe>

                    <md-whiteframe class="md-whiteframe-z1" ng-if="vm.conformance.implementation"
                                   layout="column" layout-align="space-around start" layout-padding flex="45"
                                   layout-fill>
                        <md-subheader>Implementation</md-subheader>
                        <md-input-container layout-fill ng-if="vm.conformance.implementation.description">
                            <label>Description</label>
                            <input ng-model="vm.conformance.implementation.description" ng-readonly="true"/>
                        </md-input-container>
                        <md-input-container layout-fill ng-if="vm.conformance.implementation.url">
                            <label>Url</label>
                            <input ng-model="vm.conformance.implementation.url" ng-readonly="true"/>
                        </md-input-container>
                    </md-whiteframe>
                </div>
            </md-tab>

            <md-tab label="Security" ng-if="vm.conformance.rest[0].security">
                <div flex="100" layout="row" layout-align="space-between start" layout-wrap>
                    <md-input-container flex="80" ng-if="vm.conformance.rest[0].security.description">
                        <label>Description</label>
                        <input ng-model="vm.conformance.rest[0].security.description" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="10">
                        <label>CORS</label>
                        <input ng-model="vm.conformance.rest[0].security.cors" ng-readonly="true"/>
                    </md-input-container>
                    <md-list flex="100" ng-if="vm.conformance.rest">
                        <md-list-item class="md-2-line"
                                      ng-repeat="ext in vm.conformance.rest[0].security.extension">
                            <md-icon md-svg-icon="openId" ng-if="$index === 0"></md-icon>
                            <div class="md-list-item-text" ng-class="{'md-offset': $index != 0 }">
                                <h3>{{ext.url}} </h3>

                                <p>{{ext.valueUri}}</p>
                            </div>

                            <md-divider ng-if="$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </div>
            </md-tab>
            <md-tab label="Resources">
                <md-list flex="100" ng-if="vm.conformance.rest">
                    <md-list-item class="md-2-line" ng-click="vm.showResource($event, item)"
                                  ng-repeat="item in vm.conformance.rest[0].resource">
                        <md-icon md-svg-icon="more"></md-icon>
                        <div class="md-list-item-text">
                            <h3>{{item.type}} </h3>

                            <p>{{item.profile.reference}}</p>
                        </div>

                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
            </md-tab>
            <md-tab label="Narrative">
                <div data-ng-bind-html="vm.narrative"></div>
            </md-tab>
        </md-tabs>
    </div>
    <!--
    <div flex layout-fill>
        <md-content>
            <md-tabs md-selected="selectedIndex">
                <md-tab label="Summary">
                    <table class="table table-striped table-hover" data-ng-if="vm.conformance">

                            <td>Publisher</td>
                            <td>{{vm.conformance.publisher}}</td>
                        </tr>
                        <tr>
                            <td>Implementation</td>
                            <td>{{vm.conformance.implementation.description}}</td>
                        </tr>
                        <tr>
                            <td>Url</td>
                            <td>{{vm.conformance.implementation.url}}</td>
                        </tr>
                        <tr>
                            <td>Format</td>
                            <td>
                                <div data-ng-repeat="item in vm.conformance.format">
                                    <p>{{item}}</p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </md-tab>
                <md-tab label="Security">
                    <table class="table table-striped table-hover" data-ng-if="vm.conformance.rest[0].security">
                        <tr>
                            <td>Description</td>
                            <td>{{vm.conformance.rest[0].security.description}}</td>
                        </tr>
                        <tr>
                            <td>Cross-Origin Resource Sharing (CORS)</td>
                            <td>{{vm.conformance.rest[0].security.cors}}</td>
                        </tr>
                        <div data-ng-show="vm.conformance.rest[0].security.service">
                            <tr>
                                <td>Services</td>
                                <td>
                                    <div data-ng-repeat="item in vm.conformance.rest[0].security.service">
                                        <h5>{{item.text}}</h5>
                                    </div>
                                </td>
                            </tr>
                        </div>
                        <div data-ng-if="vm.conformance.rest[0].security.extension">
                            <tr>
                                <td>Extensions</td>
                                <td>
                                    <ul data-ng-repeat="item in vm.conformance.rest[0].security.extension">
                                        <li data-ng-repeat="(key, val) in item">
                                            <strong>{{key}}</strong>: {{val}}
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </div>
                    </table>
                </md-tab>
                <md-tab label="Supported Resources">
                    <div layout="row" data-ng-if="vm.conformance.rest">
                        <div ng-repeat="item in vm.conformance.rest">
                            <div ng-repeat="resource in item.resource" flex layout-wrap>
                                <md-button md-no-ink>{{ resource.type }}</md-button>
                            </div>
                        </div>
                    </div>
                </md-tab>
                <md-tab hide-sm label="Narrative">
                    <div data-ng-bind-html="vm.narrative"></div>
                </md-tab>
                <md-tab hide-sm label="Raw Data">
                    <div>
                        <pre>{{vm.json}}</pre>
                    </div>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>-->
</div>