<div ng-controller="attachment as vm">
    <md-content class="md-padding">
        <ng-form name="attachmentEditForm" ng-model="vm.attachment">
            <div>
                <label>Add {{vm.title}}</label>

                <div fs-file-input="vm.selectedFile" on-change="vm.readFile()">
                </div>
            </div>
        </ng-form>

        <div ng-if="vm.attachments.length > 0" layout-gt-md="row" layout-align="space-around center">
            <div ng-repeat="photo in vm.attachments">
                <img class="largeFace" fs-img-person="photo"/>
            </div>
        </div>
    </md-content>
</div>
