<section data-ng-controller="personSearch as vm">
    <div>
        <div flex="100">
            <form name="searchForm" novalidate
                  data-ng-submit="vm.submit(searchForm.$valid)">
                <div layout="row" layout-wrap>
                    <div flex="55">
                        <md-input-container>
                            <label>Search by person name</label>
                            <input data-ng-model="vm.searchText"
                                   data-ng-keyup="vm.keyPress($event)"
                                   name="searchText"
                                   type="search"
                                   maxlength="50"
                                   minlength="3"
                                   data-ng-model-options="{ debounce: {default: 300, blur: 0}}"
                                   required>
                        </md-input-container>
                    </div>
                    <div flex="45">
                        <input type="submit" value="Search" id="submit"
                               class="md-button md-primary md-raised md-default-theme"/>
                        <md-button data-ng-click="vm.personSearchActionsMenu($event)" class="md-primary">Actions</md-button>
                    </div>
                    <div ng-if="searchForm.$submitted || searchForm.searchText.$touched"
                         ng-messages="searchForm.searchText.$error">
                        <div ng-message="required">You did not enter search criteria</div>
                        <div ng-message="minlength">Search must be at least 3 characters</div>
                        <div ng-message="maxlength">Search cannot exceed 50 characters</div>
                    </div>
                </div>
            </form>
        </div>

        <div data-ng-show="vm.persons" flex layout-fill>
            <md-content>
                <section>
                    <md-subheader ng-if="vm.paging.totalResults" class="md-primary">{{vm.paging.totalResults | messageTotalResults }}</md-subheader>
                    <md-list layout="column">
                        <md-item ng-repeat="p in vm.persons">
                            <md-item-content>
                                <div class="md-tile-left">
                                    <img fs-img-person="p.resource.photo" src="img/unknown_person.jpg" class="face"
                                         alt="{{p.name}}">
                                </div>
                                <div class="md-tile-content">
                                    <md-button data-ng-click="vm.goToPerson(p)">{{p.resource.name | fullName}}</md-button>

                                    <p>{{p.resource.managingOrganization.display ||
                                        p.resource.managingOrganization.reference || "No Organization"}}</p>
                                </div>
                            </md-item-content>
                            <md-divider data-ng-if="!$last"></md-divider>
                        </md-item>
                    </md-list>
                </section>
                <fs-pagination on-click="vm.dereferenceLink(url)" links="vm.paging.links"></fs-pagination>
            </md-content>
        </div>
    </div>
</section>


