<div ng-controller="organizationList as vm">
    <section>
        <md-subheader class="md-no-sticky">{{ vm.paging.totalResults | messageTotalResults }}</md-subheader>
        <md-list layout="column">
            <md-list-item class="md-2-line" ng-click="vm.goToOrganization(org)"
                          ng-repeat="org in vm.organizations">
                <md-icon md-svg-icon="hospital"></md-icon>
                <div class="md-list-item-text">
                    <h4> {{ org.resource.name }} </h4>
                    <p ng-if="org.resource.partOf">Part of {{org.resource.partOf.display ||
                        org.resource.partOf.reference || "No Organization"}}</p>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </section>
    <md-progress-linear md-mode="indeterminate" ng-if="vm.isBusy"></md-progress-linear>
    <fs-pagination on-click="vm.dereferenceLink(url)" links="vm.paging.links"></fs-pagination>
</div>
