<div ng-controller="identifier as vm">
    <md-content class="md-padding">
        <ng-form name="identifierEditForm" ng-model="vm.identifier">
            <md-input-container class="md-icon-float">
                <label>The namespace for the identifier (required)</label>
                <md-icon md-svg-icon="domain"></md-icon>
                <input name="system"
                       ng-model="vm.identifier.system"/>
            </md-input-container>

            <md-input-container class="md-icon-float">
                <label>The value that is unique (required)</label>
                <md-icon md-svg-icon="refresh"></md-icon>
                <input name="value"
                       ng-model="vm.identifier.value"/>
            </md-input-container>

            <md-input-container class="md-icon-float">
                <label>Organization that issued id (may be just text)</label>
                <md-icon md-svg-icon="authority"></md-icon>
                <input ng-model="vm.identifier.assigner"/>
            </md-input-container>

            <div layout="column" layout-align="start start">
                <md-select aria-label="type" ng-model="vm.identifier.type">
                    <md-option ng-value="type" ng-repeat="type in vm.identifierTypes">
                        {{type.display}}
                    </md-option>
                </md-select>
                <p class="result">Type</p>
            </div>

            <md-radio-group ng-model="vm.identifier.use" layout-gt-md="row" ng-if="vm.mode==='multi'">
                <md-radio-button value="official" aria-label="official">Official</md-radio-button>
                <md-radio-button value="usual" aria-label="usual">Usual</md-radio-button>
                <md-radio-button value="secondary" aria-label="secondary">Secondary</md-radio-button>
                <md-radio-button value="temp" aria-label="temp">Temporary</md-radio-button>
                <md-radio-button value="old" aria-label="old">Former</md-radio-button>
            </md-radio-group>

            <div ng-if="vm.identifier.use === 'old'">
                <h4 class="md-subhead">Period of former identifier</h4>

                <div layout="row" layout-sm="column" layout-align="space-around center">
                    <md-input-container>
                        <label>Start</label>
                        <input
                                type="date"
                                ng-model="vm.identifier.period.start">
                    </md-input-container>
                    <md-input-container>
                        <label>End</label>
                        <input
                                type="date"
                                ng-model="vm.identifier.period.end">
                    </md-input-container>
                </div>
            </div>


            <div ng-if="vm.mode==='multi'" class="md-padding">
                <md-button ng-click="vm.addToList(identifierEditForm, vm.identifier)"
                           aria-label="Save identifier to list"
                           ng-if="vm.identifier.system || vm.identifier.value">
                    <md-icon md-svg-icon="listAdd" alt="Save to identifier list"></md-icon>
                </md-button>
            </div>

            <div ng-if="vm.identifiers.length > 0 && vm.mode==='multi'">
                <md-subheader>Identifier List</md-subheader>
                <md-list>
                    <md-list-item class="md-3-line" ng-click="vm.removeListItem(id)"
                                  ng-repeat="id in vm.identifiers">
                        <md-icon md-svg-icon="delete"></md-icon>
                        <div class="md-list-item-text">
                            <h3>{{id.system}} | {{id.value}}</h3>
                            <h4>{{id.use}}</h4>
                            <p ng-if="id.period">{{id.period | displayPeriod }}</p>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
            </div>
        </ng-form>

    </md-content>
</div>