<section data-ng-controller="valueSetDetail as vm">
    <div flex>
        <div layout="row" layout-align="space-around center">
            <md-button class="md-raised md-primary" data-ng-click="vm.save()" data-ng-disabled="!vm.canSave">Save
            </md-button>
            <md-button class="md-raised md-info" data-ng-click="vm.cancel()" data-ng-disabled="!vm.canSave">Cancel
            </md-button>
            <div data-ng-if="vm.isEditing">
                <md-button class="md-raised md-warn" data-ng-click="vm.delete()">Delete</md-button>
            </div>
        </div>
        <div>
            <md-content class="md-padding">
                <data-ng-form name="valueSetEditForm"
                              data-ng-model="vm.valueSet">
                    <md-input-container>
                        <label>ValueSet Name</label>
                        <input data-ng-model="vm.valueSet.name">
                    </md-input-container>
                    <label>Type&nbsp;&nbsp;</label>
                    <select
                            id="valueSet-type"
                            data-ng-model="vm.valueSet.type.coding[0]">
                        <option data-ng-repeat="coding in vm.valueSetTypes"
                                value="{{coding}}"
                                data-ng-selected="coding.code===vm.valueSet.type.coding[0].code">
                            {{coding.display || ''}}
                        </option>
                    </select>

                    <md-input-container>
                        <label>Affiliated ValueSet</label>
                        <input type="text"
                               typeahead="item as item.display for item in vm.getValueSetReference($viewValue) | filter:$viewValue"
                               typeahead-loading="vm.loadingValueSets"
                               typeahead-wait-ms="500"
                               typeahead-editable="false"
                               typeahead-min-length="5"
                               data-ng-model="vm.valueSet.partOf">
                    </md-input-container>
                    <div data-ng-show="vm.valueSet.partOf.reference">
                        <a href="{{vm.valueSet.partOf.reference}}"
                           target="_blank">Referenced ValueSet:
                            {{vm.valueSet.partOf.display || "Name Not Specified" }}</a>
                    </div>

                    <div data-ng-include="'elements/address/address.html'"></div>

                    <div data-ng-include="'elements/contactPoint/contactPoint.html'"></div>

                    <div data-ng-include="'elements/contact/contact.html'"></div>

                    <!--
                                                        <div class="form-group col-md-12 well">
                                                            <div class="col-md-2 control-label">Locations</div>
                                                            <div class="controls col-md-10 col-md-offset-2">
                                                                <div class="form-group col-md-8">
                                                                    <select class="form-control" id="valueSet-location"
                                                                            data-ng-model="vm.valueSet.location[0]">
                                                                        <option data-ng-repeat="org in vm.valueSets"
                                                                                value="{{display}}"
                                                                                data-ng-selected="org.id===vm.valueSet.location[0].reference">
                                                                            {{org.name}}
                                                                        </option>
                                                                        <option value=""></option>
                                                                    </select>
                                                                    <button class="btn btn-info"
                                                                            data-ng-click="vm.addToList(vm.location)"><i
                                                                            class="fa fa-plus-square-o"></i>Add to Location List
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                    -->
                    <div data-ng-include="'elements/identifier/identifier.html'"></div>
                </data-ng-form>
            </md-content>
        </div>
    </div>
</section>
