<div ng-controller="practitionerSearch as vm" layout="row" layout-wrap ng-cloak>
    <div flex="90">
        <h3 class="md-title">Practitioner Detailed Search</h3>
    </div>
    <div flex="5">
        <md-button class="actions" md-no-ink ng-click="vm.actions($event)" aria-label="Actions">
            <md-icon md-svg-icon="actions"></md-icon>
        </md-button>
    </div>
    <div flex="100">
        <md-tabs md-selected="vm.selectedTab" ng-cloak md-dynamic-height>
            <md-tab label="Search Options">
                <md-content class="md-padding">
                    <form name="practitionerSearch">
                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <label>First Name</label>
                                <input ng-model="vm.practitionerSearch.name.given">
                            </md-input-container>
                            <md-input-container flex>
                                <label>Last Name</label>
                                <input ng-model="vm.practitionerSearch.name.family">
                            </md-input-container>
                        </div>

                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <label>Identifier system</label>
                                <input ng-model="vm.practitionerSearch.identifier.system">
                            </md-input-container>
                            <md-input-container flex>
                                <label>Identifier value</label>
                                <input ng-model="vm.practitionerSearch.identifier.value">
                            </md-input-container>
                        </div>

                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <label>Managing Organization</label>
                                <input ng-model="vm.practitionerSearch.organization">
                            </md-input-container>
                        </div>

                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <label>Street address</label>
                                <input ng-model="vm.practitionerSearch.address.street">
                            </md-input-container>
                            <md-input-container flex>
                                <label>City</label>
                                <input ng-model="vm.practitionerSearch.address.city">
                            </md-input-container>
                            <md-input-container flex>
                                <label>State</label>
                                <input ng-model="vm.practitionerSearch.address.state">
                            </md-input-container>
                            <md-input-container flex>
                                <label>Postal code</label>
                                <input ng-model="vm.practitionerSearch.address.postalCode">
                            </md-input-container>
                        </div>

                        <div layout layout-sm="column">
                            <div>
                                <md-input-container flex>
                                    <label>Birth date</label>
                                    <input ng-model="vm.practitionerSearch.dob" id="dob" type="date"
                                           data-ng-change="vm.dobChange()">
                                </md-input-container>
                            </div>
                        </div>

                        <div layout-gt-md="row" layout-align="space-between center">
                            <div layout="column" layout-align="center center" style="height: 100px;">
                                <md-select placeholder="Gender" aria-label="gender"
                                           ng-model="vm.practitionerSearch.gender"
                                           style="min-width: 100px;">
                                    <md-option value="female">Female</md-option>
                                    <md-option value="male">Male</md-option>
                                    <md-option value="other">Other</md-option>
                                    <md-option value="unknown">Unknown</md-option>
                                </md-select>
                                <p class="result">Gender</p>
                            </div>

                            <div layout="column" layout-align="center center" style="height: 100px;">
                                <md-select placeholder="Practioner language" aria-label="language"
                                           ng-model="vm.practitionerSearch.language">
                                    <md-option ng-value="language" ng-repeat="language in vm.languages">
                                        {{language.display}}
                                    </md-option>
                                </md-select>
                                <p class="result">Language</p>
                            </div>

                            <div layout="column" layout-align="center center" style="height: 100px;">
                                <md-select placeholder="Practitioner role"
                                           aria-label="role" ng-model="vm.practitionerSearch.role">
                                    <md-option ng-value="role" ng-repeat="role in vm.practitionerRoles.concept">
                                        {{role.display}}
                                    </md-option>
                                </md-select>
                                <p class="result">Role</p>
                            </div>

                            <div layout="column" layout-align="center center" style="height: 100px;">
                                <md-select aria-label="specialty"
                                           placeholder="Practitioner Specialty"
                                           ng-model="vm.practitionerSearch.specialty"
                                           style="min-width: 200px;">
                                    <md-option></md-option>
                                    <md-optgroup label="General Specialties">
                                        <md-option ng-value="main"
                                                   ng-if="main.concept === undefined"
                                                   ng-repeat="main in vm.practitionerSpecialties.concept | orderBy: 'display'">
                                            {{main.display}}
                                        </md-option>
                                    </md-optgroup>
                                    <md-optgroup label="{{main.display}}"
                                                 ng-if="main.concept"
                                                 ng-repeat="main in vm.practitionerSpecialties.concept | orderBy: 'display'">
                                        <md-option ng-value="main"><i>{{main.display}}</i></md-option>
                                        <md-option ng-value="sub"
                                                   ng-if="sub.concept === undefined"
                                                   ng-repeat="sub in main.concept | orderBy: 'display'">
                                            {{sub.display}}
                                        </md-option>
                                        <md-optgroup label="{{sub1.display}}"
                                                     ng-if="sub1.concept"
                                                     ng-repeat="sub1 in main.concept | orderBy: 'display'">
                                            <md-option ng-value="sub1"><i>{{sub1.display}}</i></md-option>
                                            <md-option ng-repeat="final in sub1.concept | orderBy: 'display'"
                                                       ng-value="final">
                                                {{final.display}}
                                            </md-option>
                                        </md-optgroup>
                                    </md-optgroup>
                                </md-select>
                                <p class="result">Specialty</p>
                            </div>
                        </div>
                    </form>
                    <md-button ng-click="vm.detailSearch()" aria-label="Execute search">
                        <md-icon md-svg-icon="search" alt="Search"></md-icon>
                    </md-button>
                    <md-progress-linear md-mode="indeterminate" ng-if="vm.isBusy"></md-progress-linear>
                </md-content>
            </md-tab>
            <md-tab id="results" label="Search Results">
                <section>
                    <md-subheader class="md-primary">{{ vm.paging.totalResults | messageTotalResults }}</md-subheader>
                    <md-list layout="column">
                        <md-item ng-repeat="p in vm.practitioners">
                            <md-item-content>
                                <div class="md-tile-left">
                                    <img fs-img-person="p.resource.photo[0]" class="face" alt="{{p.name}}">
                                </div>
                                <div class="md-tile-content">
                                    <md-button data-ng-click="vm.goToPractitioner(p)">{{p.resource.name | fullName}}
                                    </md-button>
                                    <p>{{p.resource.birthDate | displayAge }}
                                        <fc-gender-icon gender="p.resource.gender"></fc-gender-icon>
                                    </p>
                                    <p>{{p.resource.managingOrganization.display ||
                                        p.resource.managingOrganization.reference || "No Organization"}}</p>
                                </div>
                            </md-item-content>
                            <md-divider data-ng-if="!$last"></md-divider>
                        </md-item>
                    </md-list>
                </section>
                <md-progress-linear md-mode="indeterminate" ng-if="vm.isBusy"></md-progress-linear>
                <fs-pagination on-click="vm.dereferenceLink(url)" links="vm.paging.links"></fs-pagination>
            </md-tab>
        </md-tabs>
    </div>
</div>
