<div ng-controller="humanName as vm">
    <md-content class="md-padding">
        <ng-form name="humanNameEditForm" ng-model="vm.humanName">
            <md-input-container>
                <label>Prefix</label>
                <input type="text"
                       ng-model="vm.humanName.prefix"
                       ng-change="vm.updateName()">
            </md-input-container>
            <md-input-container>
                <label>Given names (not always 'first'). Includes middle names</label>
                <input type="text"
                       ng-model="vm.humanName.given"
                       ng-change="vm.updateName()">
            </md-input-container>
            <md-input-container>
                <label>Family name (often called 'Surname')</label>
                <input type="text"
                       ng-model="vm.humanName.family"
                       ng-change="vm.updateName()">
            </md-input-container>
            <md-input-container>
                <label>Suffix</label>
                <input type="text"
                       ng-model="vm.humanName.suffix"
                       ng-change="vm.updateName()">
            </md-input-container>


            <md-radio-group ng-model="vm.humanName.use" layout-gt-md="row" ng-if="vm.mode==='multi'">
                <md-radio-button value="usual" aria-label="usual">Usual</md-radio-button>
                <md-radio-button value="official" aria-label="official">Official</md-radio-button>
                <md-radio-button value="temp" aria-label="temp">Temp</md-radio-button>
                <md-radio-button value="nickname" aria-label="nickname">Nickname</md-radio-button>
                <md-radio-button value="maiden" aria-label="maiden">Maiden</md-radio-button>
                <md-radio-button value="old" aria-label="old">Former</md-radio-button>
            </md-radio-group>

            <div ng-if="vm.humanName.use === 'old' || vm.humanName.use === 'maiden' || vm.humanName.use === 'temp'">
                <h4 class="md-subhead">Period of former name</h4>
                <div layout="row" layout-sm="column" layout-align="space-around center">
                    <md-input-container>
                        <label>Start</label>
                        <input
                                type="date"
                                ng-model="vm.humanName.period.start">
                    </md-input-container>
                    <md-input-container>
                        <label>End</label>
                        <input
                                type="date"
                                ng-model="vm.humanName.period.end">
                    </md-input-container>
                </div>
            </div>

            <div ng-if="vm.mode==='multi'" class="md-padding">
                <md-button ng-click="vm.addToList(humanNameEditForm, vm.humanName)" aria-label="Save to list">
                    <md-icon md-svg-icon="listAdd" alt="Save to name list"></md-icon>
                </md-button>
            </div>

            <div ng-if="vm.humanNames.length > 0 && vm.mode==='multi'">

                <md-subheader>Name List</md-subheader>
                <md-list>
                    <md-list-item class="md-3-line" ng-click="vm.removeListItem(hn)"
                                  ng-repeat="hn in vm.humanNames">
                        <md-icon md-svg-icon="delete"></md-icon>
                        <div class="md-list-item-text">
                            <h3>{{ hn | fullName }}</h3>
                            <h4>{{hn.use}}</h4>
                            <p ng-if="hn.period">{{hn.period | displayPeriod }}</p>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
            </div>
        </ng-form>
    </md-content>
</div>