<div ng-controller="humanName as vm">
    <md-content class="md-padding">
        <ng-form name="humanNameEditForm" ng-model="vm.humanName">
            <md-input-container>
                <label>Prefix</label>
                <input type="text"
                       ng-model="vm.humanName.prefix"
                       ng-change="vm.updateName()">
            </md-input-container>
            <md-input-container>
                <label>Given names (not always 'first'). Includes middle names</label>
                <input type="text"
                       ng-model="vm.humanName.given"
                       ng-change="vm.updateName()">
            </md-input-container>
            <md-input-container>
                <label>Family name (often called 'Surname')</label>
                <input type="text"
                       ng-model="vm.humanName.family"
                       ng-change="vm.updateName()">
            </md-input-container>
            <md-input-container>
                <label>Suffix</label>
                <input type="text"
                       ng-model="vm.humanName.suffix"
                       ng-change="vm.updateName()">
            </md-input-container>


            <md-radio-group ng-model="vm.humanName.use" layout-gt-md="row" ng-if="vm.mode==='multi'">
                <md-radio-button value="usual" aria-label="usual">Usual</md-radio-button>
                <md-radio-button value="official" aria-label="official">Official</md-radio-button>
                <md-radio-button value="temp" aria-label="temp">Temp</md-radio-button>
                <md-radio-button value="nickname" aria-label="nickname">Nickname</md-radio-button>
                <md-radio-button value="maiden" aria-label="maiden">Maiden</md-radio-button>
                <md-radio-button value="old" aria-label="old">Former</md-radio-button>
            </md-radio-group>
            <div ng-if="vm.humanName.use === 'old'">
                <h4>Period of former name</h4>
                <label>Start</label>
                <input
                        type="date"
                        ng-model="vm.humanName.period.start">
                <label>End</label>
                <input
                        type="date"
                        ng-model="vm.humanName.period.end">
            </div>
            <div ng-if="vm.mode==='multi'" class="md-padding">
                <md-button ng-click="vm.addToList(humanNameEditForm, vm.humanName)" aria-label="Save to list">
                    <md-icon md-svg-icon="list" alt="Save to name list"></md-icon>
                </md-button>
            </div>
        </ng-form>
        <div>
            <div ng-if="vm.humanNames.length > 0 && vm.mode==='multi'">
                <form>
                    <section>
                        <md-subheader>Name List</md-subheader>
                        <md-list>
                            <md-item ng-repeat="name in vm.humanNames">
                                <md-item-content>
                                    <div class="md-tile-left">
                                        <md-button ng-click="vm.removeListItem(name)" aria-label="Remove from list">
                                            <md-icon md-svg-icon="delete" alt="Remove from list"></md-icon>
                                        </md-button>
                                    </div>
                                    <div class="md-tile-content">
                                        <h3>{{::name | fullName}}</h3>
                                        <h4>{{::name.use}}</h4>

                                        <p ng-if="name.period">
                                            {{::name.period | periodText}}
                                        </p>
                                    </div>
                                </md-item-content>
                            </md-item>
                        </md-list>
                    </section>
                </form>
            </div>
        </div>
    </md-content>
</div>