<div ng-controller="contact as vm">
    <md-content class="md-padding">
        <ng-form name="contactEditForm" ng-model="vm.contact">
            <md-input-container>
                <label>Name (required)</label>
                <input name="name"
                       ng-model="vm.contact.name"/>
                <div ng-messages="contactEditForm.name.$error" ng-show="contactEditForm.$dirty">
                    <div ng-message="required">Contact name is required!</div>
                </div>
            </md-input-container>

            <md-input-container>
                <label>Email</label>
                <input ng-model="vm.contact.email"/>
            </md-input-container>

            <md-input-container>
                <label>Phone</label>
                <input ng-model="vm.contact.phone"/>
            </md-input-container>

            <label>Purpose</label>&nbsp;&nbsp;<select
                id="contact-purpose"
                ng-model="vm.contact.purpose">
            <option ng-repeat="coding in vm.contactTypes" value="{{coding.display}}"
                    ng-selected="coding.code===vm.contact.purpose">
                {{coding.display}}
            </option>
            <option value=""></option>
        </select>
            <div ng-if="vm.mode==='multi'" class="md-padding">
                <md-button ng-click="vm.addToList(contactEditForm, vm.contact)" tooltip="Save to list"
                           ng-if="vm.contact.name">
                    <md-icon md-svg-icon="list" alt="Save to contact list"></md-icon>
                </md-button>
            </div>
        </ng-form>

        <div ng-if="vm.contacts.length !== null && vm.contacts.length > 0 && vm.mode==='multi'">
            <form>
                <section>
                    <md-subheader>Contact List</md-subheader>
                    <md-list>
                        <md-item ng-repeat="a in vm.contacts">
                            <md-item-content>
                                <div class="md-tile-left">
                                </div>
                                <div class="md-tile-content">
                                    <h3>{{a}}</h3>
                                </div>
                            </md-item-content>
                        </md-item>
                    </md-list>
                </section>
            </form>
        </div>
        </md-divider>
    </md-content>
</div>
