<div ng-controller="patientList as vm">
    <section>
        <md-subheader class="md-no-sticky">{{ vm.paging.totalResults | messageTotalResults }}</md-subheader>
        <md-list layout="column">
            <md-list-item class="md-3-line" ng-click="vm.goToPatient(p)"
                          ng-repeat="p in vm.patients">
                <img fs-img-person="p.resource.photo[0]" class="face" alt="{{p.name}}"/>

                <div class="md-list-item-text">
                    <h3>{{p.resource.name | fullName}}</h3>
                    <h4>{{p.resource.birthDate | displayAge }}
                        <fc-gender-icon gender="p.resource.gender"></fc-gender-icon>
                    </h4>
                    <p>{{p.resource.managingOrganization.display ||
                        p.resource.managingOrganization.reference || "No Organization"}}</p>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </section>
    <md-progress-linear md-mode="indeterminate" ng-if="vm.isBusy"></md-progress-linear>
    <fs-pagination on-click="vm.dereferenceLink(url)" links="vm.paging.links"></fs-pagination>
</div>
