<div ng-controller="patientDetail as vm" layout="row" ng-cloak layout-wrap layout-align="space-between center">
    <div flex="15" hide-sm>
        <img data-fs-img-person="vm.patient.photo[0]" class="largeFace" ng-if="vm.isBusy === false"/>
    </div>
    <div flex="75">
        <h3 class="md-title" ng-if="vm.isBusy === false">{{ vm.patient.name | fullName }}</h3>
    </div>
    <div flex="5">
        <md-button class="md-icon-button launch" ng-click="vm.actions($event)" aria-label="Actions">
            <md-icon md-svg-icon="actions"></md-icon>
        </md-button>
    </div>
    <div flex="100" ng-if="vm.isBusy === true" layout="row" layout-align="center end" style="height: 300px">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <div flex="100" ng-if="vm.isBusy === false">
        <md-tabs md-selected="selectedIndex" md-dynamic-height>
            <md-tab label="Administration">
                <div flex="100" layout="row" layout layout-sm="column" layout-align="space-between end"
                     ng-if="vm.patient"
                     layout-wrap style="position: relative; top:15px">
                    <md-input-container flex="100" class="md-icon-float" ng-if="vm.patient.resourceId">
                        <label>Resource Id</label>
                        <md-icon md-svg-icon="view" ng-click="vm.showSource($event)"></md-icon>
                        <input ng-model="vm.patient.resourceId" ng-readonly/>
                    </md-input-container>

                    <md-input-container flex="15" ng-if="vm.patient.gender">
                        <label>Gender</label>
                        <input ng-model="vm.patient.gender" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="15" ng-if="vm.patient.birthDate">
                        <label>Birth date</label>
                        <input ng-model="vm.patient.birthDate | date: 'longDate'"
                               ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="15"
                                        ng-if="vm.patient.multipleBirthInteger">
                        <label>Birth Order</label>
                        <input ng-model="vm.patient.multipleBirthInteger" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="15"
                                        ng-if="vm.patient.deceasedDateTime">
                        <label>Date of Death</label>
                        <input ng-value="vm.patient.deceasedDateTime | date: 'longDate'" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="20" ng-if="vm.patient.birthPlace">
                        <label>Birth place</label>
                        <input ng-model="vm.patient.birthPlace | singleLineAddress" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="25" ng-if="vm.patient.mothersMaidenName">
                        <label>Mother's Maiden Name</label>
                        <input ng-model="vm.patient.mothersMaidenName" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="25" ng-if="vm.patient.race">
                        <label>Race</label>
                        <input ng-model="vm.patient.race | codeableConcept" readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="25" ng-if="vm.patient.religion">
                        <label>Religion</label>
                        <input ng-model="vm.patient.religion | codeableConcept" readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="25" ng-if="vm.patient.ethnicity">
                        <label>Ethnicity</label>
                        <input ng-model="vm.patient.ethnicity | codeableConcept" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="25" ng-if="vm.patient.maritalStatus">
                        <label>Marital status</label>
                        <input ng-model="vm.patient.maritalStatus | codeableConcept" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="20" ng-if="vm.patient.active">
                        <label>Active</label>
                        <input ng-model="vm.patient.active" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="60" class="md-icon-float" ng-if="vm.patient.managingOrganization">
                        <label>Managing Organization</label>
                        <md-icon md-svg-icon="hospital"
                                 ng-click="vm.goToManagingOrganization(vm.patient.managingOrganization)"></md-icon>
                        <input ng-model="vm.patient.managingOrganization.display" ng-readonly="true"/>
                    </md-input-container>

                    <md-list flex="100" ng-if="vm.patient.careProvider">
                        <md-subheader class="md-no-sticky">Care Providers</md-subheader>
                        <md-list-item class="md-2-line" ng-repeat="md in vm.patient.careProvider">
                            <md-icon md-svg-icon="doctor" ng-if="$index === 0"></md-icon>
                            <div class="md-list-item-text" ng-class="{'md-offset': $index != 0 }">
                                <h3>{{md.display}} </h3>

                                <p>{{md.reference}}</p>
                            </div>
                            <md-divider ng-if="$last"></md-divider>
                        </md-list-item>
                    </md-list>

                    <md-list flex="100" ng-if="vm.patient.communication">
                        <md-subheader class="md-no-sticky">Languages</md-subheader>
                        <md-list-item class="md-2-line" ng-repeat="comm in vm.patient.communication">
                            <md-icon md-svg-icon="language" ng-if="$index === 0"></md-icon>
                            <div class="md-list-item-text" ng-class="{'md-offset': $index != 0 }">
                                <h4>{{comm.language | codeableConcept}}</h4>

                                <p>{{comm.preferred === true ? 'Preferred language' : ''}}</p>
                            </div>
                            <md-divider ng-if="$last"></md-divider>
                        </md-list-item>
                    </md-list>


                    <md-list flex="100" ng-if="vm.patient.name">
                        <md-subheader class="md-no-sticky">Names</md-subheader>
                        <md-list-item class="md-2-line" ng-repeat="n in vm.patient.name">
                            <md-icon md-svg-icon="person" ng-if="$index === 0"></md-icon>
                            <div class="md-list-item-text" ng-class="{'md-offset': $index != 0 }">
                                <h3> {{ n | fullName }} </h3>

                                <p>{{n.use}}</p>
                            </div>
                            <md-divider ng-if="$last"></md-divider>
                        </md-list-item>
                    </md-list>

                    <md-list flex="100" ng-if="vm.patient.address">
                        <md-subheader class="md-no-sticky">Addresses</md-subheader>
                        <md-list-item class="md-2-line" ng-repeat="a in vm.patient.address">
                            <md-icon md-svg-icon="address" ng-if="$index === 0"></md-icon>
                            <div class="md-list-item-text" ng-class="{'md-offset': $index != 0 }">
                                <h3> {{ a | singleLineAddress }} </h3>

                                <p>{{a.use}}</p>
                            </div>
                            <md-divider ng-if="$last"></md-divider>
                        </md-list-item>
                    </md-list>

                    <md-list flex="100" ng-if="vm.patient.telecom">
                        <md-subheader class="md-no-sticky">Telecommunications</md-subheader>
                        <md-list-item class="md-2-line" ng-repeat="t in vm.patient.telecom">
                            <md-icon md-svg-icon="telecom" ng-if="$index === 0"></md-icon>
                            <div class="md-list-item-text" ng-class="{'md-offset': $index != 0 }">
                                <h3>{{ t.value }} </h3>

                                <p>{{t.use}} {{t.system || "unspecified"}}</p>
                            </div>
                            <md-divider ng-if="$last"></md-divider>
                        </md-list-item>
                    </md-list>

                    <md-list flex="100" ng-if="vm.patient.contact">
                        <md-subheader class="md-no-sticky">Contact</md-subheader>
                        <md-list-item class="md-2-line" ng-repeat="ct in vm.patient.contact">
                            <md-icon md-svg-icon="contact" ng-if="$index === 0"></md-icon>
                            <div class="md-list-item-text" ng-class="{'md-offset': $index != 0 }">
                                <h3>{{ct.name | fullName }}</h3>

                                <p>{{ct.relationship.text || "relationship unspecified"}}</p>
                            </div>
                            <md-divider ng-if="$last"></md-divider>
                        </md-list-item>
                    </md-list>


                    <md-list flex="100" ng-if="vm.patient.identifier">
                        <md-subheader class="md-no-sticky">Identifiers</md-subheader>
                        <md-list-item class="md-3-line" ng-repeat="id in vm.patient.identifier">
                            <md-icon md-svg-icon="identifier" ng-if="$index === 0"></md-icon>
                            <div class="md-list-item-text" ng-class="{'md-offset': $index != 0 }">
                                <h3>{{id.system}} | {{id.value }} </h3>
                                <h4>{{id.type | codeableConcept}}</h4>

                                <p>{{id.use}}</p>
                            </div>
                            <md-divider ng-if="$last"></md-divider>
                        </md-list-item>
                    </md-list>

                    <md-list flex="100" ng-if="vm.patient.link">
                        <md-subheader class="md-no-sticky">Patient Links</md-subheader>
                        <md-list-item class="md-2-line" ng-repeat="lnk in vm.patient.link">
                            <md-icon md-svg-icon="link" ng-if="$index === 0"></md-icon>
                            <div class="md-list-item-text" ng-class="{'md-offset': $index != 0 }">
                                <h3>{{lnk.other.reference}} </h3>

                                <p>{{lnk.other.type || "Link Type Unspecified"}}</p>
                            </div>
                            <md-divider ng-if="$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </div>
            </md-tab>
            <md-tab label="Clinical Summary">
                <md-list>
                    <md-list-item ng-click="vm.showClinicalData($index, $event)" class="md-3-line"
                                  ng-repeat="item in vm.summary">
                        <md-icon md-svg-src="view"></md-icon>
                        <div class="md-list-item-text">
                            <div ng-hide="item.resource.code && item.resource.code.text">
                                <h4>{{ item.resource.resourceType }}</h4>
                            </div>
                            <div ng-show="item.resource.code && item.resource.code.text">
                                <h4>{{ item.resource.code.text }}</h4>
                            </div>
                            <div ng-if="item.resource.text.div" ng-bind-html="item.resource.text.div">
                            </div>
                            <div ng-show="item.resource.emptyReason.text">
                                <p> {{ item.resource.emptyReason.text }}</p>
                            </div>
                            <div ng-show="item.resource.appliesDateTime">
                                <p> {{ item.resource.appliesDateTime | date:'medium' }}</p>
                            </div>
                        </div>
                    </md-list-item>
                </md-list>
            </md-tab>
            <md-tab label="Audit History">
                <md-list>
                    <md-item ng-repeat="ev in vm.history">
                        <md-item-content>
                            <div class="md-tile-left">
                                <md-button
                                        ng-click="vm.showAuditData($index, $event)"
                                        aria-label="{{ev.resource.id}}">
                                    <md-icon md-svg-src="view"></md-icon>
                                </md-button>
                            </div>
                            <div class="md-tile-content">
                                <h3>{{ev.resource.event.dateTime | date: 'medium'}}</h3>
                                <h4>{{ev.resource.event.subtype[0].coding[0].display}}</h4>

                                <p ng-repeat="p in ev.resource.participant">{{p.name}}
                            </div>
                        </md-item-content>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-item>
                </md-list>
            </md-tab>
        </md-tabs>
    </div>
</div>