<div ng-controller="patientContact as vm">
    <md-content class="md-padding">
        <ng-form name="contactEditForm" ng-model="vm.contact">
            <div layout="row" layout-sm="column" layout-aling="start start">
                <div flex="20" layout="row">
                    <fieldset layout="column">
                        <legend>Relationship</legend>
                        <md-checkbox ng-repeat="item in vm.contactRelationships.concept | orderBy:'display'"
                                     ng-click="vm.toggle(item, vm.contact.relationships)"
                                     ng-checked="vm.exists(item, vm.contact.relationships)">
                            {{ item.display }}
                        </md-checkbox>
                    </fieldset>
                </div>
                <div flex>
                    <md-input-container class="md-icon-float">
                        <label>Name (required)</label>
                        <md-icon md-svg-icon="person"></md-icon>
                        <input name="name"
                               ng-model="vm.contact.name"/>

                        <div ng-messages="contactEditForm.name.$error" ng-show="contactEditForm.$dirty">
                            <div ng-message="required">Contact name is required!</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-icon-float">
                        <label>Email</label>
                        <md-icon md-svg-icon="email"></md-icon>
                        <input ng-model="vm.contact.email" type="email"/>
                    </md-input-container>

                    <md-input-container class="md-icon-float">
                        <label>Phone</label>
                        <md-icon md-svg-icon="phone"></md-icon>
                        <input ng-model="vm.contact.phone"/>
                    </md-input-container>

                    <md-autocomplete
                            id="addressSearch"
                            md-no-cache="false"
                            md-selected-item="vm.googleAddress"
                            md-search-text="vm.addressSearchText"
                            md-items="address in vm.getLocation(vm.addressSearchText)"
                            md-delay="300"
                            md-min-length="3"
                            md-item-text="address.formatted_address"
                            md-floating-label="Address Search">
                        <span md-highlight-text="vm.searchText">{{address.formatted_address}}</span>
                    </md-autocomplete>

                    <div layout="column" layout-align="start start" style="height: 100px;">
                        <md-select aria-label="gender"
                                   ng-model="vm.contact.gender"
                                   placeholder="Gender">
                            <md-option value="female">Female</md-option>
                            <md-option value="male">Male</md-option>
                            <md-option value="other">Other</md-option>
                            <md-option value="unknown">Unknown</md-option>
                        </md-select>

                        <p class="result">Gender</p>
                    </div>
                </div>
            </div>

            <div class="md-padding">
                <md-button ng-click="vm.addToList(contactEditForm, vm.contact)" aria-label="Save to list"
                           ng-if="vm.contact.name">
                    <md-icon md-svg-icon="listAdd"></md-icon>
                </md-button>
            </div>

            <div ng-if="vm.contacts.length > 0">
                <md-subheader>Contact List</md-subheader>
                <md-list-item class="md-3-line"
                              ng-click="vm.removeListItem(contactEditForm, ct)"
                              ng-repeat="ct in vm.contacts">
                    <md-icon md-svg-icon="delete"></md-icon>
                    <div class="md-list-item-text">
                        <h3>{{ct.name | fullName}}</h3>

                        <h4 ng-if="ct.relationship">{{ct.relationship | codeableConceptList }}</h4>

                        <p ng-if="ct.telecom">{{ct.telecom[0].value}}</p>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </div>
        </ng-form>
    </md-content>
</div>
