<div ng-controller="patientDetail as vm" layout="row" layout-wrap layout-align="space-between center" ng-cloak>
    <div flex="15" hide-sm>
        <img data-fs-img-person="vm.patient.photo[0]" class="largeFace" ng-if="vm.isBusy === false"/>
    </div>
    <div flex="75">
        <h3 class="md-title" ng-if="vm.isBusy === false">{{ vm.patient.name | fullName }}</h3>
    </div>
    <div flex="5">
        <md-button class="md-icon-button launch" ng-click="vm.actions($event)" aria-label="Actions">
            <md-icon md-svg-icon="actions"></md-icon>
        </md-button>
    </div>
    <div flex="100" ng-if="vm.isBusy === true" layout="row" layout-align="center end" style="height: 300px">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <div flex="100" ng-if="vm.isBusy === false">
        <md-tabs md-selected="selectedIndex" md-dynamic-height>
            <md-tab label="Administration">
                <div flex="100" layout="row" layout layout-sm="column" layout-align="space-between end"
                     ng-if="vm.patient"
                     layout-wrap style="position: relative; top:15px">
                    <fc-resource-view resource-id="vm.patient.resourceId" show="vm.showSource(event)"
                                      flex="100"></fc-resource-view>

                    <md-input-container flex="15" ng-if="vm.patient.gender">
                        <label>Gender</label>
                        <input ng-model="vm.patient.gender" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="15" ng-if="vm.patient.birthDate">
                        <label>Birth date</label>
                        <input ng-model="vm.patient.birthDate.$$display"
                               ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="15"
                                        ng-if="vm.patient.multipleBirthInteger">
                        <label>Birth Order</label>
                        <input ng-model="vm.patient.multipleBirthInteger" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="15"
                                        ng-if="vm.patient.deceasedDateTime">
                        <label>Date of Death</label>
                        <input ng-value="vm.patient.deceasedDateTime.$$display" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="20" ng-if="vm.patient.birthPlace">
                        <label>Birth place</label>
                        <input ng-model="vm.patient.birthPlace.text" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="25" ng-if="vm.patient.mothersMaidenName">
                        <label>Mother's Maiden Name</label>
                        <input ng-model="vm.patient.mothersMaidenName" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="25" ng-if="vm.patient.race">
                        <label>Race</label>
                        <input ng-model="vm.patient.race.text" readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="25" ng-if="vm.patient.religion">
                        <label>Religion</label>
                        <input ng-model="vm.patient.religion.text" readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="25" ng-if="vm.patient.ethnicity">
                        <label>Ethnicity</label>
                        <input ng-model="vm.patient.ethnicity.text" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="25" ng-if="vm.patient.maritalStatus">
                        <label>Marital status</label>
                        <input ng-model="vm.patient.maritalStatus.text" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="20" ng-if="vm.patient.active">
                        <label>Active</label>
                        <input ng-model="vm.patient.active" ng-readonly="true"/>
                    </md-input-container>

                    <fc-organization-reference organization="vm.patient.managingOrganization"
                                               flex="60"></fc-organization-reference>

                    <md-list flex="100" ng-if="vm.patient.careProvider">
                        <md-subheader class="md-no-sticky">Care Providers</md-subheader>
                        <md-list-item class="md-2-line" ng-repeat="md in vm.patient.careProvider">
                            <md-icon md-svg-icon="doctor" ng-if="$index === 0"></md-icon>
                            <div class="md-list-item-text" ng-class="{'md-offset': $index != 0 }">
                                <h3>{{md.display}} </h3>

                                <p>{{md.reference}}</p>
                            </div>
                            <md-divider ng-if="$last"></md-divider>
                        </md-list-item>
                    </md-list>

                    <fc-language-list languages="vm.patient.communication" flex="100"></fc-language-list>
                    <fc-human-name-list names="vm.patient.name" flex="100"></fc-human-name-list>
                    <fc-address-list addresses="vm.patient.address" flex="100"></fc-address-list>
                    <fc-contact-point-list contact-points="vm.patient.telecom" flex="100"></fc-contact-point-list>
                    <fc-identifier-list identifiers="vm.patient.identifier" flex="100"></fc-identifier-list>
                    <fc-extension-list extensions="vm.patient.extension" flex="100"></fc-extension-list>

                    <md-list flex="100" ng-if="vm.patient.contact">
                        <md-subheader class="md-no-sticky">Contact</md-subheader>
                        <md-list-item class="md-2-line" ng-repeat="ct in vm.patient.contact">
                            <md-icon md-svg-icon="contact" ng-if="$index === 0"></md-icon>
                            <div class="md-list-item-text" ng-class="{'md-offset': $index != 0 }">
                                <h3>{{ct.name | fullName }}</h3>

                                <p>{{ct.relationship.text || "relationship unspecified"}}</p>
                            </div>
                            <md-divider ng-if="$last"></md-divider>
                        </md-list-item>
                    </md-list>

                    <md-list flex="100" ng-if="vm.patient.link">
                        <md-subheader class="md-no-sticky">Patient Links</md-subheader>
                        <md-list-item class="md-2-line" ng-repeat="lnk in vm.patient.link">
                            <md-icon md-svg-icon="link" ng-if="$index === 0"></md-icon>
                            <div class="md-list-item-text" ng-class="{'md-offset': $index != 0 }">
                                <h3>{{lnk.other.reference}} </h3>

                                <p>{{lnk.other.type || "Link Type Unspecified"}}</p>
                            </div>
                            <md-divider ng-if="$last"></md-divider>
                        </md-list-item>
                    </md-list>

                </div>
            </md-tab>
            <md-tab label="Clinical Summary">
                <md-list>
                    <md-list-item ng-click="vm.showClinicalData($index, $event)" class="md-3-line"
                                  ng-repeat="item in vm.summary">
                        <md-icon md-svg-src="view"></md-icon>
                        <div class="md-list-item-text">
                            <div ng-hide="item.resource.code && item.resource.code.text">
                                <h4>{{ item.resource.resourceType }}</h4>
                            </div>
                            <div ng-show="item.resource.code && item.resource.code.text">
                                <h4>{{ item.resource.code.text }}</h4>
                            </div>
                            <div ng-if="item.resource.text.div" ng-bind-html="item.resource.text.div">
                            </div>
                            <div ng-show="item.resource.emptyReason.text">
                                <p> {{ item.resource.emptyReason.text }}</p>
                            </div>
                            <div ng-show="item.resource.appliesDateTime">
                                <p> {{ item.resource.appliesDateTime | date:'medium' }}</p>
                            </div>
                        </div>
                    </md-list-item>
                </md-list>
            </md-tab>
            <md-tab label="Audit History">
                <md-list>
                    <md-list-item ng-repeat="ev in vm.history" ng-click="vm.showAuditData($index, $event)"
                                  class="md-2-line">
                        <md-icon md-svg-src="view"></md-icon>
                        <div class="md-list-item-text">
                            <h3>{{ev.resource.event.dateTime | date: 'medium'}}</h3>

                            <p>{{ev.resource.event.subtype[0].coding[0].display}}</p>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
            </md-tab>
        </md-tabs>
    </div>
</div>