<section data-ng-controller="conformance as vm">
    <div layout="row" layout-margin layout-fill layout-padding>
        <div flex="55">
            <h3>{{vm.title}}</h3>
        </div>
        <div flex="45">
            <md-button data-ng-click="vm.toggleSideNav($event)" class="md-primary">Actions</md-button>
        </div>
    </div>

    <div flex layout-fill>
        <md-content>
            <md-tabs md-selected="selectedIndex">
                <md-tab label="Summary">
                    <table class="table table-striped table-hover" data-ng-if="vm.conformance">
                        <tr>
                            <td>Name</td>
                            <td>{{vm.conformance.name}}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{vm.conformance.description}}</td>
                        </tr>
                        <tr>
                            <td>FHIR Version</td>
                            <td>{{vm.conformance.fhirVersion}}</td>
                        </tr>
                        <tr>
                            <td>Publisher</td>
                            <td>{{vm.conformance.publisher}}</td>
                        </tr>
                        <tr>
                            <td>Implementation</td>
                            <td>{{vm.conformance.implementation.description}}</td>
                        </tr>
                        <tr>
                            <td>Url</td>
                            <td>{{vm.conformance.implementation.url}}</td>
                        </tr>
                        <tr>
                            <td>Format</td>
                            <td>
                                <div data-ng-repeat="item in vm.conformance.format">
                                    <p>{{item}}</p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </md-tab>
                <md-tab label="Security">
                    <table class="table table-striped table-hover" data-ng-if="vm.conformance.rest[0].security">
                        <tr>
                            <td>Description</td>
                            <td>{{vm.conformance.rest[0].security.description}}</td>
                        </tr>
                        <tr>
                            <td>Cross-Origin Resource Sharing (CORS)</td>
                            <td>{{vm.conformance.rest[0].security.cors}}</td>
                        </tr>
                        <div data-ng-show="vm.conformance.rest[0].security.service">
                            <tr>
                                <td>Services</td>
                                <td>
                                    <div data-ng-repeat="item in vm.conformance.rest[0].security.service">
                                        <h5>{{item.text}}</h5>
                                    </div>
                                </td>
                            </tr>
                        </div>
                        <div data-ng-if="vm.conformance.rest[0].security.extension">
                            <tr>
                                <td>Extensions</td>
                                <td>
                                    <ul data-ng-repeat="item in vm.conformance.rest[0].security.extension">
                                        <li data-ng-repeat="(key, val) in item">
                                            <strong>{{key}}</strong>: {{val}}
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </div>
                    </table>
                </md-tab>
                <md-tab label="Supported Resources">
                    <div layout="row" data-ng-if="vm.conformance.rest">
                        <div ng-repeat="item in vm.conformance.rest">
                            <div ng-repeat="resource in item.resource" flex layout-wrap>
                                <md-button md-no-ink>{{ resource.type }}</md-button>
                            </div>
                        </div>
                    </div>
                </md-tab>
                <md-tab label="Narrative" hide-sm>
                    <div data-ng-bind-html="vm.conformance.text.div">
                    </div>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>

    <md-sidenav
            class="md-sidenav-right md-whiteframe-z2"
            md-component-id="right"
            layout="column"
            tab-index="-1">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">FHIR Servers</h1>
        </md-toolbar>
        <md-content>
            <div data-ng-repeat="server in vm.fhirServers">
                <md-button md-no-ink class="md-primary" data-ng-click="vm.changeFHIRServer(server.id)">{{server.name}}
                </md-button>
            </div>
        </md-content>
    </md-sidenav>
</section>