<div ng-controller="communication as vm">
    <div ng-if="vm.communications.length > 0">
        <md-subheader>Selected languages</md-subheader>
        <md-list class="md-no-sticky">
            <md-list-item ng-repeat="comm in vm.communications track by $index" style="height: 48px;">
                <md-icon md-svg-icon="delete" alt="Remove from list" ng-click="vm.removeFromList(comm)"></md-icon>
                <p>{{comm.language.coding[0].display}}</p>
                <md-checkbox aria-label="Preferred language" ng-change="vm.changePreferred(comm)" md-no-ink
                             class="md-primary" ng-model="comm.preferred">
                    Preferred
                </md-checkbox>
            </md-list-item>
        </md-list>
    </div>

    <div flex>
        <ng-form name="languageListForm" ng-model="vm.communication">
            <div flex>
                <md-autocomplete
                        md-no-cache="true"
                        md-selected-item-change="vm.addToList(languageListForm, vm.selectedLanguage)"
                        md-selected-item="vm.selectedLanguage"
                        md-search-text="vm.languageSearchText"
                        md-items="language in vm.querySearch(vm.languageSearchText)"
                        md-delay="300"
                        md-min-length="3"
                        md-floating-label="Select a language">
                    <span md-highlight-text="vm.languageSearchText">{{language.display}}</span>
                </md-autocomplete>
            </div>
        </ng-form>
    </div>

</div>