<section data-ng-controller="organizationSearch as vm">
    <div>
        <form name="searchForm" novalidate
              data-ng-submit="vm.submit(searchForm.$valid)">
            <div layout="row" layout-wrap>
                <div flex="55">
                    <md-input-container>
                        <label>Search by organization name</label>
                        <input data-ng-model="vm.searchText"
                               data-ng-keyup="vm.keyPress($event)"
                               name="searchText"
                               type="search"
                               maxlength="50"
                               minlength="3"
                               data-ng-model-options="{ debounce: {default: 300, blur: 0}}"
                               required>
                    </md-input-container>
                </div>
                <div flex="45">
                    <input type="submit" value="Search" id="submit"
                           class="md-button md-primary md-raised md-default-theme"/>
                    <md-button data-ng-click="vm.toggleSideNav($event)" class="md-primary">Actions</md-button>
                </div>
                <div ng-if="searchForm.$submitted || searchForm.searchText.$touched"
                     ng-messages="searchForm.searchText.$error">
                    <div ng-message="required">You did not enter search criteria</div>
                    <div ng-message="minlength">Search must be at least 3 characters</div>
                    <div ng-message="maxlength">Search cannot exceed 50 characters</div>
                </div>
            </div>
        </form>
    </div>

    <div data-ng-show="vm.organizations" flex layout-fill>
        <md-content>
            <section>
                <md-subheader class="md-primary">{{ vm.paging.totalResults | messageTotalResults }}</md-subheader>
                <md-list layout="column">
                    <md-item ng-repeat="org in vm.organizations">
                        <md-item-content>
                            <div class="md-tile-left">
                                <md-button md-no-ink data-ng-click="vm.goToDetail(org.$$hashKey)"
                                           aria-label="Detail">
                                    <md-icon icon="img/web37.svg" style="width: 24px; height: 24px;"></md-icon>
                                </md-button>
                            </div>
                            <div class="md-tile-content">
                                <h3>{{org.resource.name}}</h3>

                                <p>Version: {{org.resource.meta.versionId }}, Last update:
                                    {{org.resource.meta.lastUpdated }}</p>
                            </div>
                        </md-item-content>
                        <md-divider data-ng-if="!$last"></md-divider>
                    </md-item>
                </md-list>
            </section>
            <fs-pagination on-click="vm.dereferenceLink(url)" links="vm.paging.links"></fs-pagination>
        </md-content>
    </div>

    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
        <md-content class="md-padding" layout="row" layout-sm="column" layout-align="space-between center">
            <md-button class="md-fab" aria-label="New Organization" data-ng-href="#/organization/edit/new">
                <md-icon icon="img/add182.svg" style="width: 24px; height: 24px;"></md-icon>
            </md-button>
            <md-button class="md-fab" aria-label="Comment" ng-disabled="true">
                <md-icon icon="img/search100.svg" style="width: 24px; height: 24px;"></md-icon>
            </md-button>
            <md-button ng-click="vm.toggleSideNav($event)" class="md-primary">
                Close
            </md-button>
        </md-content>
    </md-sidenav>
</section>


