<!DOCTYPE html>
<html>
<head>
    <title>FHIR Cloud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="stylesheet" href="assets/lib/angular-material.min.css">
    <link rel="stylesheet" href="assets/app.css"/>
    <link rel="stylesheet" href="assets/lib/angular-csp.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <base href="/index.html">
</head>

<body ng-app="FHIRCloud" layout="column" ng-controller="mainController as vm" ng-cloak>
<md-toolbar layout="row" class="fill-height">
    <div flex="25" layout="row" layout-align="space-between center">
        <md-button title="Menu"
                   class="md-icon-button launch"
                   hide-gt-sm
                   ng-click="vm.toggleMenu()"
                   aria-label="menu">
            <md-icon md-svg-src="rectangle"></md-icon>
        </md-button>
        <md-button title="Go to Home Page"
                   class="md-icon-button launch"
                   ng-href="/home"
                   aria-label="Home"
                   hide-sm>
            <md-icon md-svg-src="home"></md-icon>
        </md-button>
    </div>

    <div flex layout="row" layout-align="end center">
        <h4 hide-sm class="md-subhead">User: {{vm.user.name || "Unauthorized"}}</h4>
        <!-- For FHIR servers supporting SMART on FHIR security -->
        <div ng-if="vm.activeServer.clientId">
            <div ng-if="!vm.user.name">
                <md-button title="SMART Login" class="md-icon-button launch" ng-click="vm.authorize()"
                           aria-label="SMART authorization">
                    <md-icon md-svg-src="account"></md-icon>
                </md-button>
            </div>
            <div ng-if="vm.user.name">
                <md-button title="SMART Logout" class="md-icon-button launch" ng-click="vm.logout()"
                           aria-label="SMART authorization">
                    <md-icon md-svg-src="account"></md-icon>
                </md-button>
            </div>
        </div>

        <!-- For everyone else, vanilla OAuth -->
        <div ng-if="!vm.activeServer.clientId">
            <div ng-if="vm.user.name">
                <md-button title="OAuth Logout" class="md-icon-button launch" ng-click="vm.logout()"
                           aria-label="OAuth authorization">
                    <md-icon md-svg-src="account"></md-icon>
                </md-button>
            </div>
            <div ng-if="!vm.user.name">
                <md-button title="OAuth Login" class="md-icon-button launch" ng-click="vm.login()"
                           aria-label="OAuth authorization">
                    <md-icon md-svg-src="account"></md-icon>
                </md-button>
            </div>
        </div>

        <h4 hide-sm class="md-subhead">Server: {{vm.activeServer.name || "Select a server"}}</h4>
        <md-button title="Change remote FHIR Server" class="md-icon-button launch"
                   ng-click="vm.chooseFHIRServer($event)"
                   aria-label="FHIR Servers">
            <md-icon md-svg-src="fire"></md-icon>
        </md-button>
        <md-button title="Terminology"
                   class="md-icon-button launch"
                   ng-click="vm.chooseTerminology($event)"
                   hide-sm
                   aria-label="Terminology">
            <md-icon md-svg-src="terminology"></md-icon>
        </md-button>
        <md-button title="About FHIR Cloud"
                   class="md-icon-button launch"
                   ng-click="vm.showAbout()"
                   hide-sm
                   aria-label="About">
            <md-icon md-svg-src="cloud"></md-icon>
        </md-button>
        <md-button href="https://github.com/PBernhardt/FHIR-Cloud"
                   title="Launch source repository in new window"
                   target="_blank"
                   aria-label="Github"
                   class="md-icon-button launch"
                   hide-sm>
            <md-icon md-svg-src="github"></md-icon>
        </md-button>
    </div>
</md-toolbar>

<div flex layout="row">
    <md-sidenav layout="column" class="md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"
                tabindex="-1">
        <md-content>
            <div ng-repeat="section in vm.menu.sections">
                <md-button class="menu-item menu-title md-menu-item" aria-label="section.name"
                           ng-click="vm.toggleSelectSection(section)"><span ng-bind="section.name"></span>
                </md-button>
                <div data-ng-repeat="page in section.pages">
                    <a class="menu-item menu-sub-item md-menu-item"
                       ng-show="vm.isSectionSelected(section)"
                       ng-click="vm.pageSelected(page)"><span ng-bind="page.name"></span></a>
                </div>
            </div>
        </md-content>
    </md-sidenav>

    <md-content flex id="content">
        <div ng-view ng-cloak></div>
    </md-content>
</div>

<script src="assets/lib/jquery.min.js"></script>
<script src="assets/lib/angular.min.js"></script>
<script src="assets/lib/angular-animate.min.js"></script>
<script src="assets/lib/angular-aria.min.js"></script>
<script src="assets/lib/angular-material.min.js"></script>
<script src="assets/lib/angular-messages.min.js"></script>
<script src="assets/lib/angular-route.min.js"></script>
<script src="assets/lib/angular-cookies.min.js"></script>
<script src="assets/lib/angular-sanitize.min.js"></script>
<script src="assets/lib/jwt-decode.min.js"></script>
<script src="assets/lib/lodash.min.js"></script>
<script src="assets/lib/moment.min.js"></script>
<script src="assets/lib/lock-7.1.min.js"></script>
<script src="assets/lib/angular-storage.js"></script>
<script src="assets/lib/angular-jwt.js"></script>
<script src="assets/lib/auth0-angular-4.js"></script>
<script src="assets/app.js"></script>
</body>
</html>
