<!DOCTYPE html>
<html>
<head>
    <title>FHIR Cloud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="stylesheet" href="assets/lib/angular-material.min.css">
    <link rel="stylesheet" href="assets/app.css"/>
    <link rel="stylesheet" href="assets/lib/angular-csp.css">
</head>

<body ng-app="FHIRCloud" layout="column" ng-controller="mainController as vm">
<md-toolbar layout="row" class="fill-height">
    <div flex="25" layout="row" layout-align="space-between center">
        <md-button class="menu" hide-gt-sm ng-click="vm.toggleMenu()" aria-label="Show Menu">
            <md-icon md-svg-src="menu"></md-icon>
        </md-button>
        <md-button ng-href="#/home" md-no-ink hide-sm>FHIR Cloud</md-button>
    </div>

    <div flex layout="row" layout-align="end center">
        <h4 hide-sm class="md-subhead">User: {{vm.user || "Guest"}}</h4>
        <md-button class="menu" ng-click="vm.authenticate()" aria-label="Account">
            <md-icon md-svg-src="account"></md-icon>
        </md-button>
        <h4 hide-sm class="md-subhead">Server: {{vm.activeServer.name || "Select a server"}}</h4>
        <md-button class="menu" ng-click="vm.toggleServers()" aria-label="FHIR Servers">
            <md-icon md-svg-src="fire"></md-icon>
        </md-button>
        <md-button class="menu" ng-click="vm.showAbout()" hide-sm aria-label="About">
            <md-icon md-svg-src="cloud"></md-icon>
        </md-button>
    </div>
</md-toolbar>

<div flex layout="row">
    <md-sidenav layout="column" class="md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"
                tabindex="-1">
        <md-content>
            <div ng-repeat="section in vm.menu.sections">
                <md-button class="menu-item menu-title md-menu-item" aria-label="section.name"
                           ng-click="vm.toggleSelectSection(section)"><span ng-bind="section.name"></span>
                </md-button>
                <div data-ng-repeat="page in section.pages">
                    <a class="menu-item menu-sub-item md-menu-item"
                       ng-show="vm.isSectionSelected(section)"
                       ng-click="vm.pageSelected(page)"><span ng-bind="page.name"></span></a>
                </div>
            </div>
        </md-content>
    </md-sidenav>

    <md-content flex id="content">
        <div ng-view></div>

        <md-sidenav class="md-sidenav-right md-whiteframe-z2" style="width: 100px" md-component-id="right"
                    tabindex="-1">
            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">FHIR Servers</h1>
            </md-toolbar>
            <md-content>
                <md-list>
                    <md-item ng-repeat="server in vm.FHIRServers">
                        <md-button ng-click="vm.selectServer(server)"
                                   ng-class="{'selected' : server === server.selected }">
                            <span class="md-inline-list-icon-label">{{ server.name }}</span>
                            <md-icon ng-if="server.secure" md-svg-src="https"
                                     style="width: 12px; height: 12px;"></md-icon>
                        </md-button>
                    </md-item>
                </md-list>
        </md-sidenav>
    </md-content>
</div>

<script src="assets/lib/jquery.min.js"></script>
<script src="assets/lib/angular.min.js"></script>
<script src="assets/lib/angular-animate.min.js"></script>
<script src="assets/lib/angular-aria.min.js"></script>
<script src="assets/lib/angular-material.min.js"></script>
<script src="assets/lib/angular-messages.min.js"></script>
<script src="assets/lib/angular-route.min.js"></script>
<script src="assets/lib/angular-cookies.min.js"></script>
<script src="assets/lib/angular-sanitize.min.js"></script>
<script src="assets/lib/lodash.min.js"></script>
<script src="assets/lib/moment.min.js"></script>
<script src="assets/app.js"></script>
</body>
</html>
