<section data-ng-controller="valueSetDetail as vm">
    <div layout="row" layout-wrap>
        <div flex="66">
            <h3>{{vm.valueSet.name}}</h3>
        </div>
        <div flex="100">
            <md-tabs md-selected="selectedIndex" md-dynamic-height>
                <md-tab label="Summary">
                    <div flex="100" layout="row" layout layout-sm="column" layout-align="space-between end"
                         ng-if="vm.valueSet"
                         layout-wrap style="position: relative; top:15px">
                        <fc-resource-view resource-id="vm.valueSet.resourceId" show="vm.showSource(event)"
                                          flex="100"></fc-resource-view>

                        <md-input-container flex="25" ng-if="vm.valueSet.identifier">
                            <label>Identifier</label>
                            <input ng-model="vm.valueSet.identifier" ng-readonly="true"/>
                        </md-input-container>

                        <md-input-container flex="45" ng-if="vm.valueSet.description">
                            <label>Description</label>
                            <textarea columns="1" ng-model="vm.valueSet.description" ng-readonly="true"></textarea>
                        </md-input-container>

                        <md-input-container flex="25" ng-if="vm.valueSet.publisher">
                            <label>Publisher</label>
                            <input ng-model="vm.valueSet.publisher" ng-readonly="true"/>
                        </md-input-container>

                        <md-input-container flex="25" ng-if="vm.valueSet.status">
                            <label>Status</label>
                            <input ng-model="vm.valueSet.status" ng-readonly="true"/>
                        </md-input-container>

                        <md-input-container flex="25" ng-if="vm.valueSet.date">
                            <label>Date</label>
                            <input ng-model="vm.valueSet.date" ng-readonly="true"/>
                        </md-input-container>

                        <md-input-container flex="45" if="vm.valueSet.copyright">
                            <label>Copyright</label>
                            <textarea columns="1" ng-model="vm.valueSet.copyright" ng-readonly="true"></textarea>
                        </md-input-container>

                        <md-list flex="100" ng-if="vm.valueSet.define.concept">
                            <md-subheader class="md-no-sticky">Concepts</md-subheader>
                            <md-list-item class="md-3-line" ng-repeat="concept in vm.valueSet.define.concept">
                                <div class="md-list-item-text">
                                    <h3>{{concept.code}} </h3>
                                    <h4>{{concept.display}}</h4>

                                    <p>{{concept.definition}}</p>
                                </div>
                                <md-divider ng-if="!$last"></md-divider>
                            </md-list-item>
                        </md-list>
                    </div>
                </md-tab>
                <md-tab label="Compose" ng-if="vm.valueSet.compose">
                    <md-list flex="100" ng-if="vm.valueSet.compose.include">
                        <md-subheader>Include</md-subheader>
                        <md-list-item class="md-2-line" ng-click="vm.showInclude($event, include)"
                                      ng-repeat="include in vm.valueSet.compose.include">
                            <md-icon md-svg-icon="more"></md-icon>
                            <div class="md-list-item-text">
                                <h3>{{include.system}}</h3>

                                <p>{{include.version}}</p>
                            </div>

                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </md-tab>
                <md-tab label="Narrative">
                    <div data-ng-bind-html="vm.narrative"></div>
                </md-tab>

                <md-tab label="Expansion">
                    <div ng-include="'valueSet/valueSet-expand.html'"></div>
                </md-tab>
            </md-tabs>
        </div>
    </div>
</section>