<div ng-controller="valueSetSummary as vm">
    <section>
        <h3 class="md-title">Value Set Summary</h3>
        <md-subheader class="md-no-sticky">{{ vm.paging.totalResults | messageTotalResults }}</md-subheader>
        <md-list layout="column">
            <md-list-item class="md-3-line" ng-click="vm.goToValueSet(v.resource.id)"
                          ng-repeat="v in vm.valueSets">

                <div class="md-list-item-text">
                    <h3>{{v.resource.name}}</h3>
                    <h4>{{v.resource.url}}</h4>
                    <p>{{v.resource.description}}</p>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </section>
    <md-progress-linear md-mode="indeterminate" ng-if="vm.isBusy"></md-progress-linear>
    <fs-pagination on-click="vm.dereferenceLink(url)" links="vm.paging.links"></fs-pagination>
</div>
