<div ng-controller="labDetail as vm" layout="row" layout-wrap>
    <div flex="95">
        <h3 class="md-title">Create Lab Results for {{vm.lab.patient.fullName}} ({{vm.lab.patient.gender}}, {{vm.lab.patient.birthDate |
            displayAge }})</h3>
    </div>
    <div flex="5">
        <md-button class="actions" md-no-ink ng-click="vm.actions($event)" aria-label="Actions">
            <md-icon md-svg-icon="actions"></md-icon>
        </md-button>
    </div>
    <div flex="100">
        <md-tabs md-dynamic-height>
            <md-tab label="Lipid Profile">
                <ng-form name="lipidForm">
                    <!-- begin total hdl cholesterol-->
                    <div layout-sm="column" layout="row" layout-align="start center">

                        <div flex="25" layout layout-align="start start">
                            <span>
                              <md-input-container>
                                  <label>HDL Cholesterol</label>
                                  <input ng-model="vm.lab.lipid.hdlCholesterol.value"
                                         name="hdl-cholesterol"
                                         aria-controls="hdl-cholesterol-slider"
                                         type="number"
                                         step="1"
                                         ng-change="vm.updateHdlCholesterol()"
                                         min="30" max="80" ng-required="true"/>
                              </md-input-container>
                            </span>
                        </div>
                        <md-slider flex="70"
                                   md-discrete="true"
                                   step="5"
                                   min="30" max="80"
                                   ng-model="vm.lab.lipid.hdlCholesterol.value"
                                   aria-label="hdl cholesterol"
                                   id="hdl-cholesterol-slider"
                                   ng-change="vm.updateHdlCholesterol()"
                                   class="md-accent"></md-slider>
                    </div>

                    <div flex="100" layout="row" layout-align="center start">
                        <p class="result" ng-attr-style="color: {{vm.lab.lipid.hdlCholesterol.color}}">
                            {{vm.lab.lipid.hdlCholesterol.interpretationText}}</p>
                    </div>
                    <md-divider></md-divider>
                    <!-- begin total ldl cholesterol-->
                    <div layout-sm="column" layout="row" layout-align="start center">

                        <div flex="25" layout layout-align="start start">
                            <span>
                              <md-input-container>
                                  <label>LDL Cholesterol</label>
                                  <input ng-model="vm.lab.lipid.ldlCholesterol.value"
                                         name="ldl-cholesterol"
                                         aria-controls="ldl-cholesterol-slider"
                                         type="number"
                                         step="1"
                                         ng-change="vm.updateLdlCholesterol()"
                                         min="80" max="200"
                                         ng-required="true"/>
                              </md-input-container>
                            </span>
                        </div>
                        <md-slider flex="70"
                                   md-discrete="true"
                                   step="20"
                                   min="80" max="200"
                                   ng-model="vm.lab.lipid.ldlCholesterol.value"
                                   aria-label="ldl cholesterol"
                                   id="ldl-cholesterol-slider"
                                   ng-change="vm.updateLdlCholesterol()"
                                   class="md-warn"></md-slider>
                    </div>

                    <div flex="100" layout="row" layout-align="center start">
                        <p class="result" ng-attr-style="color: {{vm.lab.lipid.ldlCholesterol.color}}">
                            {{vm.lab.lipid.ldlCholesterol.interpretationText}}</p>
                    </div>
                    <md-divider></md-divider>
                    <!-- begin triglyceride-->
                    <div layout-sm="column" layout="row" layout-align="start center">

                        <div flex="25" layout layout-align="start start">
                            <span>
                              <md-input-container>
                                  <label>Triglyceride</label>
                                  <input ng-model="vm.lab.lipid.triglyceride.value"
                                         name="triglyceride"
                                         aria-controls="triglyceride-slider"
                                         type="number"
                                         step="1"
                                         ng-change="vm.updateTriglyceride()"
                                         min="60" max="600"
                                         ng-required="true"/>
                              </md-input-container>
                            </span>
                        </div>
                        <md-slider flex="70"
                                   md-discrete="true"
                                   step="20"
                                   min="60" max="600"
                                   ng-model="vm.lab.lipid.triglyceride.value"
                                   aria-label="triglyceride"
                                   id="triglyceride-slider"
                                   ng-change="vm.updateTriglyceride()"
                                   class="md-primary"></md-slider>
                    </div>

                    <div flex="100" layout="row" layout-align="center start">
                        <p class="result" ng-attr-style="color: {{vm.lab.lipid.triglyceride.color}}">
                            {{vm.lab.lipid.triglyceride.interpretationText}}</p>
                    </div>
                    <md-divider></md-divider>
                    <!-- begin total cholesterol-->
                    <div layout-sm="column" layout="row" layout-align="start center">

                        <div flex="25" layout layout-align="start start">
                            <span>
                              <md-input-container>
                                  <label>Total Cholesterol (calculated)</label>
                                  <input ng-model="vm.lab.lipid.cholesterol.value"
                                         name="total-cholesterol"
                                         aria-controls="total-cholesterol-slider"
                                         type="number"
                                         readonly
                                         ng-required="true"/>
                              </md-input-container>
                            </span>
                        </div>
                        <md-slider flex="70"
                                   min="120" max="300"
                                   ng-model="vm.lab.lipid.cholesterol.value"
                                   aria-label="total cholesterol"
                                   id="total-cholesterol-slider"
                                   class="md-primary" data-ng-disabled="true"></md-slider>
                    </div>

                    <div flex="100" layout="row" layout-align="center start">
                        <p class="result" ng-attr-style="color: {{vm.lab.lipid.cholesterol.color}}">
                            {{vm.lab.lipid.cholesterol.interpretationText}}</p>
                    </div>

                    <div flex layout-sm="column" layout="row" layout-align="end start">
                        <md-input-container>
                            <label>Date Processed</label>
                            <input ng-model="vm.lab.date" id="lipid-date" type="datetime-local" ng-required="true"/>
                        </md-input-container>
                    </div>

                    <md-button name="save-lipid"
                               ng-disabled="lipidForm.$invalid"
                               ng-click="vm.saveLipid(lipidForm)"
                               aria-label="Execute save">
                        <md-icon md-svg-icon="saveToCloud" aria-label="save lipid panel"
                                 alt="Save lipid panel"></md-icon>
                    </md-button>
                    <md-progress-linear md-mode="indeterminate" ng-if="vm.isBusy"></md-progress-linear>
                </ng-form>
            </md-tab>
            <md-tab label="High-sensitivity CRP">
                <ng-form name="crpForm">
                    <div layout-sm="column" layout="row" layout-align="start center">

                        <div flex="25" layout layout-align="start start">
                            <span>
                              <md-input-container>
                                  <label>C-reactive Protein</label>
                                  <input ng-model="vm.lab.crp.value"
                                         name="crp"
                                         aria-controls="crp-slider"
                                         type="number"
                                         step=".2"
                                         ng-change="vm.updateCRP()"
                                         min="0" max="12"
                                         ng-required="true"/>
                              </md-input-container>
                            </span>
                        </div>
                        <md-slider flex="75"
                                   md-discrete="true"
                                   step=".1"
                                   min="0" max="12"
                                   ng-model="vm.lab.crp.value"
                                   aria-label="crp"
                                   id="crp-slider"
                                   ng-change="vm.updateCRP()"
                                   class="md-primary"></md-slider>
                    </div>

                    <div flex="100" layout="row" layout-align="center start">
                        <p class="result" ng-attr-style="color: {{vm.lab.crp.color}}">
                            {{vm.lab.crp.interpretationText}}</p>
                    </div>

                    <div layout-sm="column" layout="row" layout-align="end start">
                        <md-input-container>
                            <label>Date Processed</label>
                            <input ng-model="vm.lab.date" id="crp-date" type="datetime-local" ng-required="true"/>
                        </md-input-container>
                    </div>
                    <md-button name="save-crp"
                               ng-disabled="crpForm.$invalid"
                               ng-click="vm.saveCRP(crpForm)"
                               aria-label="Execute save">
                        <md-icon md-svg-icon="saveToCloud" aria-label="save crp lab"
                                 alt="Save CRP"></md-icon>
                    </md-button>
                    <md-progress-linear md-mode="indeterminate" ng-if="vm.isBusy"></md-progress-linear>
                </ng-form>
            </md-tab>
        </md-tabs>
    </div>
</div>