<div ng-controller="relatedPersonSearch as vm" layout="row" layout-wrap>
    <div flex="90">
        <h3 class="md-title">Related Person Detailed Search</h3>
    </div>
    <div flex="5">
        <md-button class="actions" md-no-ink ng-click="vm.actions($event)" aria-label="Actions">
            <md-icon md-svg-icon="actions"></md-icon>
        </md-button>
    </div>
    <div flex="100">
        <md-tabs md-selected="vm.selectedTab" md-dynamic-height md-border-bottom ng-cloak>
            <md-tab label="Search Options">
                <md-content class="md-padding">
                    <form name="relatedPersonSearch">
                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <label>First Name</label>
                                <input ng-model="vm.relatedPersonSearch.name.given">
                            </md-input-container>
                            <md-input-container flex>
                                <label>Last Name</label>
                                <input ng-model="vm.relatedPersonSearch.name.family">
                            </md-input-container>
                        </div>

                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <label>Identifier system</label>
                                <input ng-model="vm.relatedPersonSearch.identifier.system">
                            </md-input-container>
                            <md-input-container flex>
                                <label>Identifier value</label>
                                <input ng-model="vm.relatedPersonSearch.identifier.value">
                            </md-input-container>
                        </div>

                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <label>Managing Organization</label>
                                <input ng-model="vm.relatedPersonSearch.organization">
                            </md-input-container>
                        </div>

                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <label>Street address</label>
                                <input ng-model="vm.relatedPersonSearch.address.street">
                            </md-input-container>
                            <md-input-container flex>
                                <label>City</label>
                                <input ng-model="vm.relatedPersonSearch.address.city">
                            </md-input-container>
                            <md-input-container flex>
                                <label>State</label>
                                <input ng-model="vm.relatedPersonSearch.address.state">
                            </md-input-container>
                            <md-input-container flex>
                                <label>Postal code</label>
                                <input ng-model="vm.relatedPersonSearch.address.postalCode">
                            </md-input-container>
                        </div>

                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <label>Telephone or Email Address</label>
                                <input ng-model="vm.relatedPersonSearch.telecom">
                            </md-input-container>
                        </div>

                        <div layout layout-sm="column">
                            <div>
                                <md-input-container flex>
                                    <label>Birth date</label>
                                    <input ng-model="vm.relatedPersonSearch.dob" id="dob" type="date"
                                           data-ng-change="vm.dobChange()">
                                </md-input-container>
                            </div>
                            <div flex>
                                <div layout="row" layout-align="space-around center">
                                    <md-input-container>
                                        <label>Starting Age</label>
                                        <input type="number" min="0" max="99" ng-model="vm.relatedPersonSearch.age.start"
                                               min="0"
                                               aria-controls="age-start"
                                               style="width:40px" data-ng-change="vm.ageRangeChange()"
                                               ng-disabled="vm.relatedPersonSearch.dob">

                                    </md-input-container>
                                    <md-slider flex class="md-primary" min="0" max="99"
                                               ng-model="vm.relatedPersonSearch.age.start" aria-label="Starting age"
                                               id="age-start" data-ng-change="vm.ageRangeChange()"
                                               ng-disabled="vm.relatedPersonSearch.dob">
                                    </md-slider>
                                </div>
                                <div layout="row" layout-align="space-around center">
                                    <md-input-container>
                                        <label>Ending Age</label>
                                        <input type="number" min="0" max="99" ng-model="vm.relatedPersonSearch.age.end"
                                               min="1"
                                               aria-controls="age-end"
                                               style="width:40px" data-ng-change="vm.ageRangeChange()"
                                               ng-disabled="vm.relatedPersonSearch.dob">
                                    </md-input-container>
                                    <md-slider flex min="0" max="99" ng-model="vm.relatedPersonSearch.age.end"
                                               aria-label="Ending age"
                                               id="age-end" data-ng-change="vm.ageRangeChange()"
                                               ng-disabled="vm.relatedPersonSearch.dob">
                                    </md-slider>
                                </div>
                            </div>
                        </div>

                        <div layout-gt-md="row" layout-align="space-between center">
                            <div layout="column" layout-align="center center" style="height: 100px;">
                                <md-select ng-model="vm.relatedPersonSearch.gender" style="min-width: 100px;">
                                    <md-option value="female">Female</md-option>
                                    <md-option value="male">Male</md-option>
                                    <md-option value="other">Other</md-option>
                                    <md-option value="unknown">Unknown</md-option>
                                </md-select>
                                <p class="result">Gender</p>
                            </div>
                        </div>
                    </form>
                    <md-button ng-click="vm.detailSearch()" aria-label="Execute search">
                        <md-icon md-svg-icon="search" alt="Search"></md-icon>
                    </md-button>
                    <md-progress-linear md-mode="indeterminate" ng-if="vm.isBusy"></md-progress-linear>
                </md-content>
            </md-tab>
            <md-tab id="results" label="Search Results">
                <div ng-include="'elements/relatedPersonList/relatedPersonList.html'"></div>
            </md-tab>
        </md-tabs>
    </div>
</div>
