<section data-ng-controller="personDetail as vm">
    <md-content id="personDetail">
        <div layout="row" layout-wrap >
            <div flex="15" hide-sm>
                <img data-fs-img-person="vm.person.photo"
                     class="largeFace" src="/img/unknown_person.jpg"/>
            </div>
            <div flex="85">
                <h3>{{ vm.person.name | fullName }}</h3>
                <md-tabs md-selected="selectedIndex">
                    <md-tab label="Administration Detail">
                        <table class="table table-striped table-hover">
                            <tr>
                                <td>Resource Id</td>
                                <td>
                                    {{vm.person.resourceId}}
                                </td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>{{vm.person.name | fullName }}</td>
                            </tr>
                            <tr>
                                <td>Date of Birth</td>
                                <td>
                                    <div data-ng-show="vm.person.birthDate">
                                        {{vm.person.birthDate | date: longDate}}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Gender</td>
                                <td>
                                    {{vm.person.gender}}
                                </td>
                            </tr>
                            <tr>
                                <td>Addresses</td>
                                <td>
                                    <p class="small" data-ng-repeat="a in vm.person.address">
                                        <strong>{{a.use}}</strong>: {{a | singleLineAddress}}
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>Telecommunication</td>
                                <td>
                                    <p class="small" data-ng-repeat="t in vm.person.telecom">
                                        <strong>{{t.use}} {{t.system}}</strong>: {{t.value}}
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>Links</td>
                                <td>
                                    <div data-ng-repeat="l in vm.person.link">
                                        <a href="{{l.other.reference}}">{{l.other.type || "Link Type Unspecified"}}</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Managing Organization</td>
                                <td>
                                    <a href="{{vm.person.managingOrganization.reference}}">{{vm.person.managingOrganization.display}}</a>
                                </td>
                            </tr>
                            <tr data-ng-show="vm.person.identifier">
                                <td>Identifiers</td>
                                <td>
                                    <table class="table table-striped table-hover small">
                                        <thead>
                                        <tr>
                                            <th>System</th>
                                            <th>Value</th>
                                            <th>Label</th>
                                            <th>Use</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="id in vm.person.identifier">
                                            <td>{{id.system}}</td>
                                            <td>{{id.value}}</td>
                                            <td>{{id.label}}</td>
                                            <td>{{id.use}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>Active</td>
                                <td>
                                    <i data-fs-true-check="vm.person.active"></i>
                                </td>
                            </tr>
                        </table>
                    </md-tab>
                    <md-tab label="Associated Patient Records">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Date</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="item in vm.summary">
                                <td>
                                    <md-button layout="row" layout-align="start center"
                                               ng-click="vm.showClinicalData($index, $event)"
                                               aria-label="{{item.resource.id}}">
                                        <md-icon icon="img/visibility1.svg"
                                                 style="width: 20px; height: 20px;"></md-icon>
                                    </md-button>
                                </td>
                                <td>
                                    {{ item.resource.resourceType }}
                                </td>
                                <td>
                                    <div data-ng-if="item.resource.text.div" data-ng-bind-html="item.resource.text.div">
                                    </div>
                                    <div data-ng-if="item.resource.emptyReason.text">
                                        {{ item.resource.emptyReason.text }}
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-tab>
                </md-tabs>
            </div>
            <md-button md-no-ink data-ng-click="vm.personActionsMenu($event)" class="md-primary">Actions
            </md-button>
        </div>
    </md-content>
</section>