<div ng-controller="encounterSearch as vm" layout-gt-md="row" layout="column" layout-wrap>
    <div flex="90">
        <h3 class="md-title">Encounter Detailed Search</h3>
    </div>
    <div flex="5">
        <md-button class="actions" md-no-ink ng-click="vm.actions($event)" aria-label="Actions">
            <md-icon md-svg-icon="actions"></md-icon>
        </md-button>
    </div>
    <div flex="100">
        <md-tabs md-selected="vm.selectedTab" md-dynamic-height>
            <md-tab label="Search Options">
                <md-content class="md-padding">
                    <form name="encounterSearch">
                        <div layout="row" layout-sm="column" layout-align="space-between center" layout-wrap>
                            <md-input-container flex="15">
                                <label>Start Date</label>
                                <input ng-model="vm.encounterSearch.period.start" type="date">
                            </md-input-container>
                            <md-input-container flex="15">
                                <label>End Date</label>
                                <input ng-model="vm.encounterSearch.period.end" type="date">
                            </md-input-container>
                            <md-input-container flex="20">
                                <label>Length in Days</label>
                                <input ng-model="vm.encounterSearch.length" type="number" min="1">
                            </md-input-container>

                            <div layout="column" layout-align="center center" style="height: 100px;" flex="20">
                                <md-select ng-model="vm.encounterSearch.status" style="min-width: 100px;">
                                    <md-option ng-value="status" ng-repeat="status in vm.states.concept">
                                        {{status.display}}
                                    </md-option>
                                    <md-option></md-option>
                                </md-select>
                                <p class="result">Status</p>
                            </div>
                            <div layout="column" layout-align="center center" style="height: 100px;" flex="20">
                                <md-select ng-model="vm.encounterSearch.type" style="min-width: 100px;">
                                    <md-option ng-value="type" ng-repeat="type in vm.types.concept">
                                        {{type.display}}
                                    </md-option>
                                    <md-option></md-option>
                                </md-select>
                                <p class="result">Type</p>
                            </div>

                            <div layout="column" layout-align="center center" style="height: 100px;" flex="20">
                                <md-select ng-model="vm.encounterSearch.reason" style="min-width: 100px;">

                                    <md-option></md-option>
                                </md-select>
                                <p class="result">Reason</p>
                            </div>

                            <div layout="column" layout-align="center center" style="height: 100px;" flex="25">
                                <md-select ng-model="vm.encounterSearch.specialArrangement" style="min-width: 100px;">
                                    <md-option ng-value="sa" ng-repeat="sa in vm.specialArrangements.concept">
                                        {{sa.display}}
                                    </md-option>
                                    <md-option></md-option>
                                </md-select>
                                <p class="result">Special Arrangement</p>
                            </div>

                            <md-autocomplete flex="30"
                                             md-selected-item="vm.encounterSearch.patient"
                                             md-search-text="vm.searchPatientText"
                                             md-items="pt in vm.getPatientReference(vm.searchPatientText)"
                                             md-delay="200"
                                             md-item-text="pt.display"
                                             md-min-length="3"
                                             placeholder="Search by the patient?">
                                <span md-highlight-text="vm.searchPatientText">{{pt.display}}</span>
                            </md-autocomplete>
                            <md-autocomplete flex="30"
                                             md-selected-item="vm.encounterSearch.practitioner"
                                             md-search-text="vm.searchCareProviderText"
                                             md-items="dr in vm.getPractitionerReference(vm.searchCareProviderText)"
                                             md-delay="200"
                                             md-item-text="dr.display"
                                             md-min-length="3"
                                             placeholder="Search by the care provider?">
                                <span md-highlight-text="vm.searchCareProviderText">{{dr.display}}</span>
                            </md-autocomplete>

                            <md-input-container flex="30">
                                <label>Appointment Fulfilled</label>
                                <input ng-model="vm.encounterSearch.fulfills"
                                       placeholder="Reference to related appointment">
                            </md-input-container>

                            <md-input-container flex="30">
                                <label>Episode of Care</label>
                                <input ng-model="vm.encounterSearch.episodeOfCare"
                                       placeholder="Reference to episode of care">
                            </md-input-container>
                            <md-input-container flex="30">
                                <label>Incoming Referral</label>
                                <input ng-model="vm.encounterSearch.incomingReferral"
                                       placeholder="Reference to referral request">
                            </md-input-container>

                            <md-input-container flex="30">
                                <label>Related Encounter</label>
                                <input ng-model="vm.encounterSearch.partOf"
                                       placeholder="Reference to related encounter">
                            </md-input-container>

                            <md-input-container flex="30">
                                <label>Indication</label>
                                <input ng-model="vm.encounterSearch.indication"
                                       placeholder="Reference to observation">
                            </md-input-container>
                        </div>

                        <label flex="100">Location</label>

                        <div layout="row" layout-sm="column" layout-align="space-between center">
                            <md-autocomplete flex="50"
                                             md-selected-item="vm.encounterSearch.location"
                                             md-search-text="vm.searchLocationText"
                                             md-items="loc in vm.getLocationReference(vm.searchLocationText)"
                                             md-delay="200"
                                             md-item-text="loc.display"
                                             md-min-length="3"
                                             placeholder="Search by the location of encounter?">
                                <span md-highlight-text="vm.searchLocationText">{{loc.display}}</span>
                            </md-autocomplete>

                            <md-input-container flex="20">
                                <label>Location Start Date</label>
                                <input ng-model="vm.encounterSearch.location.period.start" type="date">
                            </md-input-container>
                            <md-input-container flex="20">
                                <label>Location End Date</label>
                                <input ng-model="vm.encounterSearch.location.period.end" type="date">
                            </md-input-container>
                        </div>

                        <label flex="100">Participants</label>

                        <div layout="row" layout-sm="column" layout-align="space-between center">
                            <md-autocomplete flex="30"
                                             md-selected-item="vm.organizationSearch.participant.practitioner"
                                             md-search-text="vm.searchParticipantPractitionerText"
                                             md-items="dr in vm.getPractitionerReference(vm.searchParticipantPractitionerText)"
                                             md-delay="200"
                                             md-item-text="dr.display"
                                             md-min-length="3"
                                             placeholder="Search by a practitioner participant?">
                                <span md-highlight-text="vm.searchParticipantPractitionerText">{{dr.display}}</span>
                            </md-autocomplete>

                            <md-autocomplete flex="30"
                                             md-selected-item="vm.organizationSearch.participant.relatedPerson"
                                             md-search-text="vm.searchParticipantRelatedPersonText"
                                             md-items="rp in vm.getRelatedPersonReference(vm.searchParticipantRelatedPersonText)"
                                             md-delay="200"
                                             md-item-text="rp.display"
                                             md-min-length="3"
                                             placeholder="Search by a related person participant?">
                                <span md-highlight-text="vm.searchParticipantRelatedPersonText">{{rp.display}}</span>
                            </md-autocomplete>
                            <div flex="30">
                                <div layout="column" layout-align="center center" style="height: 100px;">
                                    <md-select ng-model="vm.encounterSearch.participantType">
                                        <md-option ng-value="language" ng-repeat="pt in vm.participantTypes">
                                            {{pt.display}}
                                        </md-option>
                                        <md-option></md-option>
                                    </md-select>
                                    <p class="result">Participant Type</p>
                                </div>
                            </div>
                        </div>

                        <div layout layout-sm="column" layout-align="space-between center" flex="40">
                            <md-input-container flex="40">
                                <label>Identifier system</label>
                                <input ng-model="vm.encounterSearch.identifier.system"
                                       placeholder="Should be a valid URI">
                            </md-input-container>
                            <md-input-container flex="40">
                                <label>Identifier value</label>
                                <input ng-model="vm.encounterSearch.identifier.value">
                            </md-input-container>
                        </div>

                    </form>
                    <md-button ng-click="vm.detailSearch()" aria-label="Execute search">
                        <md-icon md-svg-icon="search" alt="Search"></md-icon>
                    </md-button>
                    <md-progress-linear md-mode="indeterminate" ng-if="vm.isBusy"></md-progress-linear>
                </md-content>
            </md-tab>
            <md-tab id="results" label="Search Results">
                <section>
                    <md-list>
                        <md-subheader class="md-no-sticky">{{ vm.paging.totalResults | messageTotalResults }}
                        </md-subheader>
                        <md-list-item class="md-3-line" ng-click="vm.goToEncounter(e)" ng-repeat="e in vm.encounters">
                            <md-icon md-svg-icon="encounter"></md-icon>
                            <div class="md-list-item-text">
                                <h3>{{e.resource.patient.display || e.resource.patient.reference || 'No Patient' }}</h3>
                                <h4>{{ e.resource.class }}</h4>

                                <p> {{ e.resource.status }} </p>
                            </div>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </section>
                <fs-pagination on-click="vm.dereferenceLink(url)" links="vm.paging.links"></fs-pagination>
                <md-progress-linear md-mode="indeterminate" ng-if="vm.isBusy"></md-progress-linear>
            </md-tab>
        </md-tabs>
    </div>
</div>
