<div ng-controller="encounterDetail as vm" layout="row" layout-wrap ng-cloak>
    <div flex="25" hide-sm>
        <img data-fs-img-person="vm.encounter.patient.photo[0]" class="largeFace" ng-if="vm.isBusy === false"/>
    </div>
    <div flex="65" layout="row" layout-align="start center">
        <h3 ng-if="vm.isBusy === false">{{ vm.encounter.patient.name | fullName }}</h3>
    </div>
    <div flex="9">
        <md-button class="actions" md-no-ink ng-click="vm.actions($event)" aria-label="Actions">
            <md-icon md-svg-icon="actions"></md-icon>
        </md-button>
    </div>
    <div flex="100" ng-if="vm.isBusy === true" layout="row" layout-align="center center">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div flex="100" ng-if="vm.isBusy === false">
        <md-tabs md-selected="selectedIndex" md-dynamic-height>
            <md-tab label="Overview">
                <div flex="100" layout="row" layout layout-sm="column" layout-align="space-between end"
                     ng-if="vm.encounter"
                     layout-wrap style="position: relative; top:15px">
                    <md-input-container flex="100" class="md-icon-float" ng-if="vm.encounter.resourceId">
                        <label>Resource Id</label>
                        <md-icon md-svg-icon="view" ng-click="vm.showSource($event)"></md-icon>
                        <input ng-model="vm.encounter.resourceId" ng-readonly/>
                    </md-input-container>


                    <md-input-container flex="60" class="md-icon-float" ng-if="vm.encounter.patient">
                        <label>Patient</label>
                        <md-icon md-svg-icon="person"
                                 ng-click="vm.goToPatient(vm.encounter.patient)"></md-icon>
                        <input ng-model="vm.encounter.patient.display" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="15" ng-if="vm.encounter.class">
                        <label>Class</label>
                        <input ng-model="vm.encounter.class" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="15" ng-if="vm.encounter.status">
                        <label>Status</label>
                        <input ng-model="vm.encounter.status" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="15" ng-if="vm.encounter.type">
                        <label>Type</label>
                        <input ng-model="vm.encounter.type.text" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="60" class="md-icon-float" ng-if="vm.encounter.episodeOfCare">
                        <label>Episode of Care</label>
                        <md-icon md-svg-icon="hospital"
                                 ng-click="vm.goToPatient(vm.encounter.episodeOfCare)"></md-icon>
                        <input ng-model="vm.encounter.episodeOfCare.display" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="60" class="md-icon-float" ng-if="vm.encounter.serviceProvider">
                        <label>Service Provider</label>
                        <md-icon md-svg-icon="hospital"
                                 ng-click="vm.goToPatient(vm.encounter.serviceProvider)"></md-icon>
                        <input ng-model="vm.encounter.serviceProvider.display" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="60" class="md-icon-float" ng-if="vm.encounter.partOf">
                        <label>Related Encounter</label>
                        <md-icon md-svg-icon="hospital"
                                 ng-click="vm.goToPatient(vm.encounter.partOf)"></md-icon>
                        <input ng-model="vm.encounter.episodeOfCare.display" ng-readonly="true"/>
                    </md-input-container>

                </div>
            </md-tab>

            <md-tab label="Participants" ng-if="vm.encounter.participant">

            </md-tab>

            <md-tab label="Indications" ng-if="vm.encounter.indication">
                <md-list flex="100">
                    <md-list-item class="md-1-line" ng-repeat="i in vm.encounter.indication">
                        <md-icon md-svg-icon="rx" ng-if="$index === 0"></md-icon>
                        <p>{{i.display ? i.display : i.reference}}</p>
                        <md-divider ng-if="$last"></md-divider>
                    </md-list-item>
                </md-list>
            </md-tab>

            <md-tab label="Hospitalization" ng-if="vm.encounter.hospitalization">
                <div flex="100" layout="row" layout layout-sm="column" layout-align="space-between end"
                     layout-wrap style="position: relative; top:15px">
                    <md-input-container flex="15" ng-if="(angular.isDefined(vm.encounter.hospitalization.reAdmission))">
                        <label>Readmission</label>
                        <input ng-model="vm.encounter.hospitalization.reAdmission" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="25" ng-if="vm.encounter.hospitalization.preAdmissionIdentifier">
                        <label>Pre-Admission Identifier</label>
                        <input ng-model="vm.encounter.hospitalization.preAdmissionIdentifier" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="15" ng-if="vm.encounter.hospitalization.admitSource">
                        <label>Admit Source</label>
                        <input ng-model="vm.encounter.hospitalization.admitSource.text" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="15" ng-if="vm.encounter.hospitalization.dietPreference">
                        <label>Diet Preference</label>
                        <input ng-model="vm.encounter.hospitalization.dietPreference.text" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="15" ng-if="vm.encounter.hospitalization.specialCourtesy">
                        <label>Special Courtesy</label>
                        <input ng-model="vm.encounter.hospitalization.specialCourtesy.text" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="15" ng-if="vm.encounter.hospitalization.specialArrangement">
                        <label>Special Arrangement</label>
                        <input ng-model="vm.encounter.hospitalization.specialArrangement.text" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="15" ng-if="vm.encounter.hospitalization.dischargeDisposition">
                        <label>Discharge Disposition</label>
                        <input ng-model="vm.encounter.hospitalization.dischargeDisposition.text" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="60" class="md-icon-float"
                                        ng-if="vm.encounter.hospitalization.dischargeDiagnosis">
                        <label>Discharge Diagnosis</label>
                        <md-icon md-svg-icon="rx"
                                 ng-click="vm.goToPatient(vm.encounter.hospitalization.dischargeDiagnosis)"></md-icon>
                        <input ng-model="vm.encounter.hospitalization.dischargeDiagnosis.display" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="60" class="md-icon-float" ng-if="vm.encounter.hospitalization.origin">
                        <label>Origin</label>
                        <md-icon md-svg-icon="hospital"
                                 ng-click="vm.goToPatient(vm.encounter.hospitalization.origin)"></md-icon>
                        <input ng-model="vm.encounter.hospitalization.origin.display" ng-readonly="true"/>
                    </md-input-container>

                    <md-input-container flex="60" class="md-icon-float"
                                        ng-if="vm.encounter.hospitalization.destination">
                        <label>Destination</label>
                        <md-icon md-svg-icon="hospital"
                                 ng-click="vm.goToPatient(vm.encounter.hospitalization.destination)"></md-icon>
                        <input ng-model="vm.encounter.hospitalization.destination.display" ng-readonly="true"/>
                    </md-input-container>
                </div>
            </md-tab>
            <md-tab label="Status History" ng-if="vm.encounter.statusHistory">
                <md-list flex="100">
                    <md-list-item class="md-2-line" ng-repeat="sh in vm.encounter.statusHistory">
                        <md-icon md-svg-icon="person" ng-if="$index === 0"></md-icon>
                        <div class="md-list-item-text" ng-class="{'md-offset': $index != 0 }">
                            <h3> {{ sh.status }} </h3>

                            <p>{{sh.period.start}} - {{sh.period.end}}</p>
                        </div>
                        <md-divider ng-if="$last"></md-divider>
                    </md-list-item>
                </md-list>
            </md-tab>
        </md-tabs>
    </div>
</div>