<div ng-controller="organizationDetail as vm">
    <div layout="row" layout-wrap>
        <div flex="90">
            <h3>{{vm.organization.name}}</h3>
        </div>
        <div flex="10">
            <md-button class="actions" md-no-ink ng-click="vm.actions($event)" aria-label="Actions">
                <md-icon md-svg-icon="actions"></md-icon>
            </md-button>
        </div>

        <div flex="100" layout="row" layout-sm="column" layout-align="space-between start" ng-if="vm.organization"
             layout-wrap>
            <md-input-container flex="70" class="md-icon-float" ng-if="vm.organization.resourceId">
                <label>Resource Id</label>
                <md-icon md-svg-icon="view" ng-click="vm.showSource($event)"></md-icon>
                <input ng-model="vm.organization.resourceId" readonly/>
            </md-input-container>

            <md-input-container flex="25" ng-if="vm.organization.type && vm.organization.type.coding[0]">
                <label>Type</label>
                <input ng-model="vm.organization.type.coding[0].display" readonly/>
            </md-input-container>


            <md-input-container flex="20" ng-if="vm.organization.active">
                <label>Active</label>
                <input ng-model="vm.organization.active" readonly/>
            </md-input-container>

            <md-input-container flex="60" class="md-icon-float" ng-if="vm.organization.partOf">
                <label>Parent Organization</label>
                 <md-icon md-svg-icon="hospital" ng-click="vm.goToPartOf(vm.organization.partOf)"></md-icon>
                <input ng-model="vm.organization.partOf.display" readonly/>
            </md-input-container>

            <md-list flex="100" ng-if="vm.organization.address">
                <md-subheader class="md-no-sticky">Addresses</md-subheader>
                <md-list-item class="md-2-line" ng-repeat="a in vm.organization.address">
                    <md-icon md-svg-icon="address" ng-if="$index === 0"></md-icon>
                    <div class="md-list-item-text" ng-class="{'md-offset': $index != 0 }">
                        <h3> {{ a | singleLineAddress }} </h3>

                        <p>{{a.use}}</p>
                    </div>
                </md-list-item>
            </md-list>

            <md-list flex="100" ng-if="vm.organization.telecom">
                <md-subheader class="md-no-sticky">Telecommunications</md-subheader>
                <md-list-item class="md-2-line" ng-repeat="t in vm.organization.telecom">
                    <md-icon md-svg-icon="telecom" ng-if="$index === 0"></md-icon>
                    <div class="md-list-item-text" ng-class="{'md-offset': $index != 0 }">
                        <h3>{{ t.value }} </h3>

                        <p>{{t.use}} {{t.system || "unspecified"}}</p>
                    </div>
                </md-list-item>
            </md-list>

            <md-list flex="100" ng-if="vm.organization.contact">
                <md-subheader class="md-no-sticky">Contacts</md-subheader>
                <md-list-item class="md-3-line" ng-repeat="ac in vm.organization.contact">
                    <md-icon md-svg-icon="contacts" ng-if="$index === 0"></md-icon>
                    <div class="md-list-item-text" ng-class="{'md-offset': $index != 0 }">
                        <h3>{{ac.name | fullName}}</h3>

                        <p ng-if="ac.purpose">{{ac.purpose.coding[0].display}}</p>
                    </div>
                </md-list-item>
            </md-list>
            <md-divider ng-if="vm.organization.contact"></md-divider>

            <md-list flex="100" ng-if="vm.organization.identifier">
                <md-subheader class="md-no-sticky">Identifiers</md-subheader>
                <md-list-item class="md-2-line" ng-repeat="id in vm.organization.identifier">
                    <md-icon md-svg-icon="identifier" ng-if="$index === 0"></md-icon>
                    <div class="md-list-item-text" ng-class="{'md-offset': $index != 0 }">
                        <h3>{{id.system}} | {{id.value }} </h3>

                        <p>{{id.use}}</p>
                    </div>
                </md-list-item>
            </md-list>

        </div>
    </div>
</div>