<!DOCTYPE html>
<html data-ng-app="FHIRStarter">
<head>
    <title>FHIR Starter</title>
    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="stylesheet" href="lib/angular-material/angular-material.css">
    <link rel="stylesheet" href="assets/docs.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
    <link rel="stylesheet" href="lib/angular/angular-csp.css">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
<div layout="row" data-ng-controller="MainCtrl">
    <md-backdrop class="md-sidenav-backdrop md-opaque ng-scope md-default-theme md-locked-open"></md-backdrop>
    <md-sidenav layout="column"
                class="md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                md-is-locked-open="$media('gt-sm')"
                tabindex="-1">

        <md-toolbar layout="column" class="md-default-theme">
            <h1 class="md-toolbar-tools" layout="column">
                <a href="#/conformance" tabindex="0" flex layout="row">
                    <img style="height:40px" src="img/burn9.svg"/>
                    <span style="line-height:40px; text-indent: 15px;">FHIR Starter</span>
                </a>
            </h1>
        </md-toolbar>
        <md-content>
            <div data-ng-repeat="section in menu.sections">
                <md-button class="menu-item menu-title md-menu-item" aria-label="section.name"
                           data-ng-click="toggleSelectSection(section)"><span ng-bind="section.name"></span>
                </md-button>
                <div data-ng-repeat="page in section.pages">
                    <a class="menu-item menu-sub-item md-menu-item"
                       data-ng-show="isSectionSelected(section)"
                       data-ng-click="pageSelected(page)"><span ng-bind="page.name"></span></a>
                </div>
            </div>
        </md-content>
    </md-sidenav>

    <div layout="column" layout-fill="" tabindex="-1" role="main">
        <md-toolbar layout="column" class="md-default-theme">
            <div class="md-toolbar-tools" layout="column" tabindex="0">
                <div class="md-toolbar-item md-breadcrumb">
                    <span ng-if="menu.selectedSection.name" ng-bind="menu.selectedSection.name"></span>
                    <span ng-if="menu.selectedPage"><img style="height: 16px;" src="img/docArrow.png">{{menu.selectedPage}}</span>
                </div>
            </div>
        </md-toolbar>
        <md-content class="md-padding">
            <div ng-view></div>
        </md-content>
        <footer data-ng-show="isBusy">
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </footer>
    </div>
</div>
<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular-animate/angular-animate.min.js"></script>
<script src="lib/angular-aria/angular-aria.min.js"></script>
<script src="lib/angular-material/angular-material.min.js"></script>
<script src="lib/angular-route/angular-route.min.js"></script>
<script src="lib/angular-sanitize/angular-sanitize.min.js"></script>
<script src="lib/angular-messages/angular-messages.min.js"></script>
<script src="lib/angular-cookies/angular-cookies.min.js"></script>
<script src="lib/hammerjs/hammer.min.js"></script>
<script src="lib/moment/min/moment.min.js"></script>
<script src="lib/lodash/dist/lodash.min.js"></script>
<script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="assets/app.js"></script>
</body>
</html>
