<div data-ng-controller="demographics as vm">
    <div layout-gt-lg="row" layout-align="space-between center" layout-wrap>
        <md-input-container flex>
            <label>Birth date</label>
            <input ng-model="vm.demographics.birthDate" ng-change="vm.updateBirthDate()" id="dob" type="date">
        </md-input-container>

        <md-input-container flex>
            <label>Birth order</label>
            <input ng-model="vm.demographics.birthOrder" id="order" type="number">
        </md-input-container>

        <md-input-container flex>
            <label>Place of birth</label>
            <input ng-model="vm.demographics.placeOfBirth">
        </md-input-container>

        <md-input-container flex>
            <label>Mother's maiden name</label>
            <input ng-model="vm.demographics.mothersMaidenName">
        </md-input-container>

        <md-input-container flex>
            <label>Date of death</label>
            <input ng-model="vm.demographics.deceasedDate" id="dod" type="date">
        </md-input-container>
    </div>
    <div layout-gt-md="row" layout-align="space-between center" layout-wrap>
        <div layout="column" layout-align="center center" style="height: 100px;">
            <select ng-model="vm.demographics.gender" ng-change="vm.updateGender()"
                    ng-selected="vm.demographics.gender.code">
                <option value="female">Female</option>
                <option value="male">Male</option>
                <option value="other">Other</option>
                <option value="unknown">Unknown</option>
            </select>

            <p class="result">Gender</p>
        </div>

        <div layout="column" layout-align="center center" style="height: 100px;">

            <select ng-model="vm.maritalStatusCoding"
                    ng-change="vm.updateMaritalStatus()">
                <option ng-repeat="coding in vm.maritalStatuses"
                        ng-value="coding"
                        ng-selected="coding.code===vm.demographics.maritalStatus.coding[0].code">
                    {{coding.display}}
                </option>
            </select>

            <p class="result">Marital Status</p>
        </div>

        <!--        <div layout="column" layout-align="center center" style="height: 100px;">
                    <select ng-model="vm.demographics.ethnicity"
                            style="min-width: 200px;" ng-selected="vm.demographics.ethnicity.code">
                        <optgroup ng-value="main" ng-repeat="main in vm.ethnicities">{{main.display}}
                            <option ng-value="main">{{main.display}}</option>
                            <optgroup ng-value="group" ng-repeat="group in main.concept">
                                {{group.display}}
                                <option ng-value="group">{{group.display}}</option>
                                <option ng-value="class" ng-repeat="class in group.concept">
                                    {{class.display}}
                                </option>
                            </optgroup>
                        </optgroup>
                    </select>

                    <p class="result">Ethnicity</p>
                </div>-->

        <div layout="column" layout-align="center center" style="height: 100px;">
            <select ng-model="vm.demographics.ethnicity">
                <option ng-repeat="main in vm.ethnicities.concept"
                        ng-value="main"
                        ng-selected="main.coding===vm.demographics.ethnicity.coding[0].code">
                    {{main.display}}
                </option>
            </select>

            <p class="result">Ethnicity</p>
        </div>

        <div layout="column" layout-align="center center" style="height: 100px;">
            <select ng-model="vm.raceCoding"
                    ng-change="vm.updateRace(vm.raceCoding)">
                <option ng-value="coding"
                        ng-selected="coding.code===vm.demographics.race.coding[0].code"
                        ng-repeat="coding in vm.races.concept">{{coding.display}}
                </option>
            </select>

            <p class="result">Race</p>
        </div>

        <div layout="column" layout-align="center center" style="height: 100px;">
            <select ng-model="vm.religionCoding"
                    ng-change="vm.updateReligion(vm.religionCoding)">
                <option ng-value="coding"
                        ng-repeat="coding in vm.religions.concept"
                        ng-selected="coding.code===vm.demographics.religion.coding[0].code">
                    {{coding.display}}
                </option>
            </select>

            <p class="result">Religion</p>
        </div>

    </div>
</div>