<div data-ng-controller="demographics as vm">
    <div layout-gt-lg="row" layout-align="space-between center" layout-wrap>
        <div layout="column" layout-align="center center" style="height: 100px;" flex="30">
            <md-select aria-label="gender" ng-model="vm.demographics.gender" ng-change="vm.updateGender()"
                       ng-selected="vm.demographics.gender.code">
                <md-option value="female">Female</md-option>
                <md-option value="male">Male</md-option>
                <md-option value="other">Other</md-option>
                <md-option value="unknown">Unknown</md-option>
            </md-select>

            <p class="result">Gender</p>
        </div>
        <md-input-container flex="30">
            <label>Birth date</label>
            <input ng-model="vm.demographics.birthDate" ng-change="vm.updateBirthDate()" id="dob" type="date">
        </md-input-container>
    </div>
</div>